<div id="main" class="main mycourse_page subject_page">
  <div class="profile mb-0 d-flex">
  <h1 class="font-27 font-700 secondary mb-0">Study</h1>
    <app-profile-bar></app-profile-bar>
    </div>

    <!-- SUBJECT START -->
    <div class="dashboard_title">
      <nav aria-label="breadcrumb" class="font-17 font-600 light-black mb-0 lh-36">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="index.html" class="gray-light">Home</a></li>
          <li class="breadcrumb-item  light-black" aria-current="page">Subjects</li>
        </ol>
      </nav>
    </div>
    <div class="scroll_sec mt-0">
      <div class="row">
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a routerLink="/student/subjectdetails" class="subject_card d-flex align-items-center">
            <img src="assets/images/svg_img/subject.svg">
            <h3 class="subject_heading font-19 font-600 txt-dark mb-0">Subjects</h3>
            <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
              <img src="assets/images/svg_img/rightarrow.svg">
            </span>
          </a>
        </div>
      </div>
   
    </div>
    <app-right-side-bar></app-right-side-bar>
    </div>
    