
<div class="Dashboard">
  <div id="main" class="main mycourse_page subject_page">
    <div class="profile mb-0 d-flex">
      <h1 class="font-27 font-700 secondary mb-0">Study</h1>

     <app-profile-bar></app-profile-bar>

    </div>

    <!-- SUBJECT START -->
    <div class="dashboard_title">
      <nav aria-label="breadcrumb" class="font-17 font-600 light-black mb-0 lh-36">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="index.html" class="gray-light">Home</a></li>
          <li class="breadcrumb-item  light-black" aria-current="page">Subjects</li>
        </ol>
      </nav>
    </div>
    <div class="scroll_sec mt-0">
      <div class="row">
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>

        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <a href="chapter.html">
            <div class="subject_card">
              <div class="subject_card_top">
                <div class="subject_name_card">
                  <img src="assets/images/svg_img/subject.svg">
                  <div class="subject_name">
                    <h3 class="subject_heading txt-dark mb-0">Subject Name</h3>
                    <p class="chapter-cout mb-0">40 Chapters</p>
                  </div>
                </div>
                <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                  <img src="assets/images/svg_img/rightarrow.svg">
                </span>
              </div><!-- subject_card_top -->
              <div class="progress_bar_value">
                <p class="mb-0">20/40 Chapters Completed</p>
                <h5 class="mb-0">45%</h5>
              </div>
              <div class="ProgressBar">
                <div class="ProgressW"></div>
              </div>
            </div> <!-- subject_card -->
          </a>
        </div>

      </div>
    </div>
    <!-- SUBJECT END -->

    <!-- RIGHT SIDE START-->
    <div class="right-sidebar">
      <div class="box0 sidepanel">
        <div class="profile mb-4">
          <div class="">
            <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
          </div>
          <div class="text mx-3">
            <h3 class="font-17 font-600 light user-name">Rahil Kothari</h3>
            <p class="font-14 font-400  light mb-0">Ui/Ux Team Lead</p>
          </div>
          <a href="#" class="ms-3 right_menu_toggle">
            <i class="fi fi-rr-cross-small warning fs-2 close_menu"></i>
          </a>
        </div>


        <div class="text1">
          <h4 class="font-17 font-600 light">Updates</h4>
          <h4 class="font-17 font-600 light">Clear All</h4>
        </div>
        <div class="nortification mb-3 position-relative">
          <div class="nortifications-h">
            <h6 class="font-17 font-400 light notification_title">Notification Heading</h6>
            <h6 class="font-14 font-400 light mb-0">Notification Message</h6>
          </div>
          <h5 class="font-11 font-400 light">2 Hours ago</h5>
        </div>
        <div class="nortification mb-3 position-relative">
          <div class="nortifications-h">
            <h6 class="font-17 font-400 light notification_title">Notification Heading</h6>
            <h6 class="font-14 font-400 light mb-0">Notification Message</h6>
          </div>
          <h5 class="font-11 font-400 light">2 Hours ago</h5>
        </div>
        <div class="nortification mb-3 position-relative">
          <div class="nortifications-h">
            <h6 class="font-17 font-400 light notification_title">Notification Heading</h6>
            <h6 class="font-14 font-400 light mb-0">Notification Message</h6>
          </div>
          <h5 class="font-11 font-400 light">2 Hours ago</h5>
        </div>
      </div>
    </div>
  </div>
</div>
