.job-image{
    width: 67px;
    height: 67px;
    aspect-ratio: 1;
  }
  .job-image img{ 
    width: 100%;
    // height: 100%;
  }
  .dropdown-padding{
    padding: 0.25rem 1rem;
}
.read-color{
  color: dodgerblue;
}