<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

        <h1 class="font-27 font-700 secondary mb-0">New Announcement</h1>


        <app-profile-bar></app-profile-bar>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard">


        <div class="assignment-stats">
            <form action="" class="mb_24">

        <div class="row mb-3">
            <div class="col-md-8 col-lg-6">
                <label for="" class="mb_6 font-17 font-500 secondary">Title</label>
                <div class="input_icon position-relative">
                    <input type="text" id="" name="" class="form-control input_text"
                        placeholder="Day1">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-8 col-lg-6">
                <label for="" class="mb_6 font-17 font-500 secondary">Message</label>
                <textarea class="form-control text_area" id="exampleFormControlTextarea1" row mb-3s="3"
                    placeholder="Start Typing....."></textarea>
            </div>
        </div>

        <div class="row mb_20">
            <div class="col-md-8 col-lg-6">
                <label for="" class="mb_6 font-17 font-500 secondary">Sent To</label>
                <select class="select_menu" aria-label="Default select example">
                    <option value="1">All Course</option>
                    <option selected="">Core Java</option>
                    <option value="2">Mern Stack</option>
                  </select>
            </div>
        </div>

        <div class="row mb_20">
            <div class="col-md-8 col-lg-6">
                <div class="all-select-course">
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                    <p class="mb-0 font-13 font-600 secondary">Core Java</p>
                </div>        
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-12">
                <a routerLink="/admin/announcements" class="top_profile_sec_btn font-14 font-500">Publish Now</a>
                <a routerLink="/admin/announcements" class="secondary font-14 font-500 ms-5">Discard</a>

            </div>
        </div>


<!-- row -->
    </form>

</div>


<!-- DASHBOARD END -->

<!-- RIGHT SIDE START-->
<app-right-side-bar></app-right-side-bar>
<!-- RIGHT SIDE END -->


<!-- MIDDLE CONTENT END -->


</div>