<div id="main" class="main mycourse_page ms-0">

    <div class="container">
        <div class="col-md-10 question_page m-auto">
            <div class="Questions_quiz d-flex justify-content-between align-items-center">
                <h4 class="font-17 font-700 light-black mb-0 d-flex align-items-center" routerLink="/student/chapterDetails"><i
                        class="fi fi-sr-arrow-left mx-2 ms-0 lh-0"></i>Quit</h4>
                <h5 class="font-19 font-700 light-info mb-0">Question - 1</h5>
                <h6 class="font-17 font-500 light-black mb-0">Time Left: 60:00</h6>
            </div>
            <div class="progressbar">
                  <span class="prosesss complete" ></span> 
                  <span [ngClass]="'prosesss '" *ngFor="let obj of questions"></span>
            </div>
            <div class="question_section">
                <div class="d-flex justify-content-center align-items-center">
                    <img [src]="imageUrl+question.questionImage " style="height: 250px; width: 600px;">
                </div>
                <div class="question_1 ">
                    <h5 class="font-17 font-500 txt-dark" [innerHTML]="question.questionContent"></h5>
                 
                </div>
                <div class="d-inline-block left position-relative account_option ms-auto">
                    <input class=" d-none" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">
                        <div class="radio-box ">
                            <p class="font-17 font-600 mb-0 text0" (click)="questionClick(question.option1,index)"> A- {{question.option1}}</p>
                        </div>
                    </label>
                </div>
                <div class="d-inline-block position-relative account_option ms-auto">
                    <input class=" d-none" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">
                        <div class="radio-box">
                            <p class="font-17 font-600 mb-0 text0"  (click)="questionClick(question.option2,index)"> B- {{question.option2}}</p>
                        </div>
                    </label>
                </div>
                <div class="d-inline-block position-relative account_option ms-auto">
                    <input class=" d-none" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">
                        <div class="radio-box">
                            <p class="font-17 font-600 mb-0 text0" (click)="questionClick(question.option3,index)"> C- {{question.option3}} </p>
                        </div>
                    </label>
                </div>
                <div class="d-inline-block position-relative account_option ms-auto">
                    <input class=" d-none" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                    <label class="form-check-label" for="inlineRadio4">
                        <div class="radio-box">
                            <p class="font-17 font-600 mb-0 text0" (click)="questionClick(question.option4,index)"> D- {{question.option4}} </p>
                        </div>
                    </label>
                </div>

            </div>
            <div class="question_bottom d-flex justify-content-between align-items-center">
                <button type="button" class="Previous_btn font-17 font-500 light-info" [disabled]="previousButton"   (click)="previousQuestion()">Previous</button>
                <div class="d-flex flex-column align-items-center">
                    <h4
                        class="ans_details d-flex justify-content-center align-items-center position-relative mb-0 font-15 font-700">
                        2</h4>
                    <h5 class="font-13 font-500 txt-dark mb-0 mt-3">Answered</h5>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <h4
                        class="marked_details d-flex justify-content-center align-items-center position-relative mb-0 font-15 font-700">
                        2</h4>
                    <h5 class="font-13 font-500 txt-dark mb-0 mt-3">Marked</h5>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <h4
                        class="not_ans_details d-flex justify-content-center align-items-center position-relative mb-0 font-15 font-700">
                        0</h4>
                    <h5 class="font-13 font-500 txt-dark mb-0 mt-3">Not Answered</h5>
                    {{index}}
                </div>

                <button type="button" class="next_btn font-17 font-500 txt-white" [disabled]="nextButton" (click)="nextQuestion()" >Next</button>


            </div>
        </div>
    </div>    

<!-- MIDDLE CONTENT END -->


</div>
