.add-course-img{
    width: 67px;
    height: 67px;
}
.add-course-img img{
    width: 100%;
    height: 67px;
    object-fit: cover;
}
.all-course-images{
    height: 180px;
    overflow-y: scroll;
    column-gap: 24px;
    row-gap: 15px;
}
.all-course-images::-webkit-scrollbar{
    display: none;
}
.dropdown-padding{
    padding: 0.25rem 1rem;
}

// .add-course-img img{
//     width: 100%;
//     height: 130px;
//     border-radius: 6px;
//     object-fit: cover;
// }
