<div id="main" class="main main_news">
  <div class="profile d-flex">
    <h1 class="font-27 font-700 secondary mb-0">News & Events</h1>
    <app-profile-bar></app-profile-bar>
  </div>

  <div class="scroll_section">

    <div class="task_assignment mt-0">
      <h3 class="title font-21 font-600 secondary position-relative">News</h3>
      <div class="news_events">
        <div class="row">
          <div class="col-md-3 bootstrap_cards">
              <div class="news text_dark">
                
                <img src="assets/images/temp_img/news.png">
                <div class="news_text position-relative">
                  <i class="fi fi-ss-menu-dots-vertical meat-dot  text_gray" onclick="meat_dot()"></i>
              <div class="meat-dot-dropdown" style="display: none;">
                <a routerLink="/admin/createnewsAndEvent" class="mb-1 secondary d-flex align-items-center gap_5"><i class="fi fi-rr-file-edit line-height-0"></i> Edit</a>
                <p class="mb-0 delete-icon-color d-flex align-items-center gap_5" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="fi fi-rr-trash line-height-0"></i> Delete</p>
              </div>
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <div class="news text_dark">
              <img src="assets/images/temp_img/news.png">
              <div class="news_text position-relative">
            <i class="fi fi-ss-menu-dots-vertical meat-dot  text_gray"></i>
                <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                <h4 class="font-19 font-500 small_text">Breaking News</h4>
                <h5 class="font-14 font-500 small_text">News Is Broken</h5>
              </div>
            </div>
        </div>
        <div class="col-md-3 bootstrap_cards">
          <div class="news text_dark">
            <img src="assets/images/temp_img/news.png">
            <div class="news_text position-relative">
          <i class="fi fi-ss-menu-dots-vertical meat-dot  text_gray"></i>
              <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
              <h4 class="font-19 font-500 small_text">Breaking News</h4>
              <h5 class="font-14 font-500 small_text">News Is Broken</h5>
            </div>
          </div>
      </div>

     
        </div>
      </div>
    </div> 
  </div>    
</div>

<!-- MIDDLE CONTENT END -->

<!-- RIGHT SIDE START-->
<app-right-side-bar></app-right-side-bar>
<!-- RIGHT SIDE END -->
