<div id="main" class="main dashboard_page">
    <div class="profile d-flex mb-4">

      <div class="profile_top_heading d-flex gap_24">
        <h1 class="font-27 font-700 secondary mb-0">Fees</h1>
        <a routerLink="/admin/addfees" class="top_profile_sec_btn font-14 font-500 lh-1">Add Fees</a>
      </div>

      <app-profile-bar></app-profile-bar>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard mt-4">

      <div class="row">

        <div class="col-md-12">
          
          <div class="fees-top-area">
            <h3 class="admin-title font-17 font-600 secondary position-relative mb-0">Fees List</h3>
            <div class="right-side-dropdown-btn d-flex">
              <div class="student-search me-2">
                <input type="text" name="fullName" id=""  placeholder="Search" class="gray-input-bg" style="height: 35px;" 
                [(ngModel)]="search" (ngModelChange)="searchByName()">
              </div>
              <div class="input_icon position-relative">
                <input type="date" class="form-control input_text gray-input-bg font-15 fees-input"
                  style="height: 35px;" placeholder="Select Start Date" id="" name="startDate" value="" [(ngModel)]="startDate"
                  required>
              </div>
              <h4 class="font-18 font-500 text_dark my-0 lh-0 d-flex align-items-center mx-1">To</h4>
              <div class="input_icon position-relative">
                <input type="date" class="form-control input_text gray-input-bg font-15 fees-input"
                  style="height: 35px;" placeholder="Select End Date" id="" name="endDate" value="" required [(ngModel)]="endDate">
              </div>

              <button class="fees_search_btn font-15 font-500 lh-0 me-2" (click)="findByGivenDate()">Search</button>

              <div class="dropdown">
                <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark d-inline-flex align-items-center"
                  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 35px;">
                  Status
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/admin/pendingfees">Fees Pending</a></li>
                  <li><a class="dropdown-item" routerLink="/admin/payfees">Fees Pay</a></li>
                  <li><a class="dropdown-item" routerLink="/admin/feescompletedlist">Fees Complete</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="table_container">
            <table class="table mb-0">
              <thead style="background:#EDF9FB;">
                <tr class="table_heading">
                  <th scope="col" class="font-15 font-600 secondary">Name</th>
                <th scope="col" class="font-15 font-600 secondary">Roll No.</th>
                <th scope="col" class="font-15 font-600 secondary">Course</th>
                <th scope="col" class="font-15 font-600 secondary">Email</th>
                <th scope="col" class="font-15 font-600 secondary">Phone Num</th>
                <th scope="col" class="font-15 font-600 secondary">Fees</th>
                <th scope="col" class="font-15 font-600 secondary">Submit Date</th>
                <th scope="col" class="font-15 font-600 secondary">Detail</th>
                </tr>
              </thead>
              <tbody *ngFor="let fees of feeses">
                <tr>
                  <td class="d-flex align-items-center pointer" style="gap:5px; border-bottom: 0;" routerLink="/admin/studentprofile/{{fees.studentId}}">
                    <div class="person_image">
                      <img [src]="imageUrl+fees.profilePic" alt="" class="img-fluid">
                    </div>
                    <h5 class="font-13 font-500 mb-0" >{{fees.fullName}}<br>
                    </h5>
                  </td>
                  <td>{{fees.studentId}}</td>
                  <td>{{fees.courseName}}</td>
                  <td>{{fees.email}}</td>
                  <td>{{fees.mobile}}</td>
                  <td>{{fees.finalFees}}</td>
                  <td>{{fees.date}}</td>
                  <td class="warning font-500 pointer" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal" (click)="newFees=fees">Detail
                  </td>
                </tr>
             
              </tbody>
            </table>
            <mat-paginator *ngIf="feesList>=8"
              [length]="feesList"
              [pageSize]="8"
              aria-label="Select page"
              (page)="onChangePage($event)">    
              </mat-paginator>
          </div>
          
        </div>

      </div>
    </div>
    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


  </div>
  <!--DASHBOARD END -->

  <!-- Modal Admin Amount Detail Modal Start -->
  <div class="modal fade" id="stu-amount-detail-modal" tabindex="-1" aria-labelledby="stu-amount-detail-modal"
    aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header apply_title">
            <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative">Amount Detail</h1>
            <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
              <i class="fi fi-rr-cross close_icon"></i>
            </button>
          </div>
          <div class="row">
            <div class="col-md-12 mb_18">
              <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                <img  [src]="imageUrl+newFees.profilePic" alt="" width="200" height="200" class="rounded"
                  style="object-fit: contain;">
              </div>
            </div>
            <div class="col-md-12" >

              <div class="d-flex align-items-center gap_24" >
                <div class="amount-left-detail">
                  <h4>Student Name:</h4>
                  <h4>College:</h4>
                  <h4>Mobile No.:</h4>
                  <h4>DOB:</h4>
                  <h4>Email Address:</h4>
                  <h4>Course Name:</h4>
                  <h4>Finial Fees:</h4>
                </div>
                <div class="amount-right-detail">
                  <h5>{{newFees.fullName}}</h5>
                  <h5>{{newFees.college}}</h5>
                  <h5>{{newFees.mobile}}</h5>
                  <h5>{{newFees.dob}}</h5>
                  <h5>{{newFees.email}}</h5>
                  <h5>{{newFees.currentCourse}}</h5>
                  <h5>{{newFees.finalFees}}</h5>
                </div>
              </div>


            </div><!-- row -->



          </div>
        </div>
      </div>
    </div>