<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

      <div class="profile_top_heading d-flex gap_24">
        <h1 class="font-27 font-700 secondary mb-0">Fees</h1>
        <a routerLink="/admin/addfees" class="top_profile_sec_btn font-14 font-500 lh-1">Add Fees</a>
      </div>

      <app-profile-bar></app-profile-bar>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard">

      <div class="row">

        <div class="col-md-12">
          <div class="fees-top-area">
            <h3 class="admin-title font-17 font-600 secondary position-relative mb-0">Fees List</h3>
            <div class="right-side-dropdown-btn d-flex">
              <div class="student-search me-2">
                <input type="text" name="" id="" placeholder="Search" class="gray-input-bg" style="height: 35px;">
              </div>
              <div class="input_icon position-relative">
                <input type="date" class="form-control input_text gray-input-bg font-15 fees-input"
                  style="height: 35px;" placeholder="Select Start Date" id="" name="" value=""
                  required>
              </div>
              <h4 class="font-18 font-500 text_dark my-0 lh-0 d-flex align-items-center mx-1">To</h4>
              <div class="input_icon position-relative">
                <input type="date" class="form-control input_text gray-input-bg font-15 fees-input"
                  style="height: 35px;" placeholder="Select End Date" id="" name="" value="" required>
              </div>

              <button class="fees_search_btn font-15 font-500 lh-0 me-2">Search</button>

              <div class="dropdown">
                <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark d-inline-flex align-items-center"
                  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 35px;">
                  Status
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/admin/pendingfees">Fees Pending</a></li>
                  <li><a class="dropdown-item" routerLink="/admin/payfees">Fees Pay</a></li>
                  <li><a class="dropdown-item" routerLink="/admin/feescompletedlist">Fees Complete</a></li>
                </ul>
              </div>
            </div>
          </div>
          <table class="table fees-table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Roll No.</th>
                <th scope="col">Course</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Num</th>
                <th scope="col">Fees</th>
                <th scope="col">Submit Date</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-center" style="gap:5px;">
                  <div class="person_image">
                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                  </div>
                  <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                  </h5>
                </td>
                <td>479</td>
                <td>UI/UX Designer</td>
                <td>wadewarren123@gmail.com</td>
                <td>7452136500</td>
                <td>8500</td>
                <td>02-12-2022, 23:12 PM</td>
                <td class="warning font-500" data-bs-toggle="modal" data-bs-target="#stu-amount-detail-modal">Detail
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


  </div>
  <!--DASHBOARD END -->

  <!-- Modal Admin Amount Detail Modal Start -->
  <div class="modal fade" id="stu-amount-detail-modal" tabindex="-1" aria-labelledby="stu-amount-detail-modal"
    aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header apply_title">
            <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative">Amount Detail</h1>
            <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
              <i class="fi fi-rr-cross close_icon"></i>
            </button>
          </div>
          <div class="row">
            <div class="col-md-12 mb_18">
              <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
                <img src="assets/images/temp_img/news.png" alt="" width="200" height="200" class="rounded"
                  style="object-fit: contain;">
              </div>
            </div>
            <div class="col-md-12">

              <div class="d-flex align-items-center gap_24">
                <div class="amount-left-detail">
                  <h4>Student Name:</h4>
                  <h4>College:</h4>
                  <h4>Mobile No.:</h4>
                  <h4>DOB:</h4>
                  <h4>Email Address:</h4>
                  <h4>Course Name:</h4>
                  <h4>Finial Fees:</h4>
                </div>
                <div class="amount-right-detail">
                  <h5>Deepak Joshi</h5>
                  <h5>Excellene School Harda</h5>
                  <h5>7854126312</h5>
                  <h5>31-03-2000</h5>
                  <h5>Deepakjoshi@gmail.com</h5>
                  <h5>Corporate Training</h5>
                  <h5>8500</h5>
                </div>
              </div>


            </div><!-- row -->



          </div>
        </div>
      </div>
    </div>