<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

        <h1 class="font-27 font-700 secondary mb-0">Student Registration</h1>


        <div class="profile mb-4 profile-right">
            <div class="d-flex align-items-center porfile_sec">
                <div class="">
                    <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
                </div>
                <div class="text">
                    <h3 class="font-17 font-600 text-black user-name">Rahil Kothari</h3>
                    <p class="font-14 font-400  text-black mb-0">Ui/Ux Team Lead</p>
                </div>
            </div>
            <a  class="ms-3 right_menu_toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.5"
                        d="M18.7491 9V9.7041C18.7491 10.5491 18.9903 11.3752 19.4422 12.0782L20.5496 13.8012C21.5612 15.3749 20.789 17.5139 19.0296 18.0116C14.4273 19.3134 9.57274 19.3134 4.97036 18.0116C3.21105 17.5139 2.43882 15.3749 3.45036 13.8012L4.5578 12.0782C5.00972 11.3752 5.25087 10.5491 5.25087 9.7041V9C5.25087 5.13401 8.27256 2 12 2C15.7274 2 18.7491 5.13401 18.7491 9Z"
                        fill="#49BFCF" />
                    <path
                        d="M7.24316 18.5449C7.8941 20.5501 9.77767 21.9997 11.9998 21.9997C14.222 21.9997 16.1055 20.5501 16.7565 18.5449C13.611 19.1352 10.3886 19.1352 7.24316 18.5449Z"
                        fill="#49BFCF" />
                </svg>
                <!-- <i class="fi fi-rr-bell text-light danger open"></i> -->
            </a>
        </div>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard student_registration">
        <div class="assignment-stats">
            <!-- Top wizard section start-->
            <div class="wizard">
                <ul>
                    <li class="form_1_progessbar tab_active">
                        <div>
                            <p>1</p>
                        </div>
                    </li>
                    <li class="form_2_progessbar">
                        <div>
                            <p>2</p>
                        </div>
                    </li>
                    <li class="form_3_progessbar">
                        <div>
                            <p>3</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Top wizard section end -->

            <div class="form_wrap">
                <div class="form_1">
                    <h2 class="font-21 secondary mb-3">Personal info</h2>
                    <form action="">
                        <div class="row mb-3">
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Course</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Branch</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">College</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Monther's Name</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Phone</label>
                                <div class="input_icon position-relative">
                                    <input type="tel" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Email</label>
                                <div class="input_icon position-relative">
                                    <input type="email" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-12 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">College</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-md-12 text-end">
                                <button
                                    class="top_profile_sec_btn font-16 font-500 personal_next_btns" onclick="nextfun()">Next
                            </button>
                            </div>
                        </div><!-- row -->
                    </form>
                </div>

                <div class="form_2" style="display: none;">
                    <h2 class="font-21 secondary mb-3 text-center"> Enrolment Info</h2>
                    <form action="">
                        <div class="row mb-3">
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Course</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Branch</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">College</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Monther's Name</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Phone</label>
                                <div class="input_icon position-relative">
                                    <input type="tel" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Email</label>
                                <div class="input_icon position-relative">
                                    <input type="email" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-12 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">College</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <button class="top_profile_sec_btn font-16 font-500" onclick="enrolment_back_btns()">Back
                                </button>
                                <button class="top_profile_sec_btn font-16 font-500" onclick="enrolment_next_btns()">Next
                                </button>
                            </div>
                        </div><!-- row -->
                    </form>
                </div>

                <div class="form_3" style="display: none;">
                    <h2 class="font-21 secondary mb-3 text-end"> Address</h2>
                    <form action="">
                        <div class="row mb-3">
                            <div class="col-md-12 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Address</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">City</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">State</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>

                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Phone</label>
                                <div class="input_icon position-relative">
                                    <input type="tel" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Email</label>
                                <div class="input_icon position-relative">
                                    <input type="email" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Name</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">City</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"
                                        placeholder="Day1">
                                </div>
                            </div>
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <button class="top_profile_sec_btn font-16 font-500" onclick="address_back_btns()">Back
                                </button>
                                <a routerLink="/admin/student" class="top_profile_sec_btn font-16 font-500 lh-1 address_complete_btns">Complete</a>
                            </div>
                        </div><!-- row -->
                    </form>
                </div>


            </div>

        </div>
    </div>


    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>