<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

        <h1 class="font-27 font-700 secondary mb-0">Student Registration</h1>


        <div class="profile mb-4 profile-right">
            <div class="d-flex align-items-center porfile_sec">
                <div class="">
                    <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
                </div>
                <div class="text">
                    <h3 class="font-17 font-600 text-black user-name">Rahil Kothari</h3>
                    <p class="font-14 font-400  text-black mb-0">Ui/Ux Team Lead</p>
                </div>
            </div>
            <a class="ms-3 right_menu_toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.5"
                        d="M18.7491 9V9.7041C18.7491 10.5491 18.9903 11.3752 19.4422 12.0782L20.5496 13.8012C21.5612 15.3749 20.789 17.5139 19.0296 18.0116C14.4273 19.3134 9.57274 19.3134 4.97036 18.0116C3.21105 17.5139 2.43882 15.3749 3.45036 13.8012L4.5578 12.0782C5.00972 11.3752 5.25087 10.5491 5.25087 9.7041V9C5.25087 5.13401 8.27256 2 12 2C15.7274 2 18.7491 5.13401 18.7491 9Z"
                        fill="#49BFCF" />
                    <path
                        d="M7.24316 18.5449C7.8941 20.5501 9.77767 21.9997 11.9998 21.9997C14.222 21.9997 16.1055 20.5501 16.7565 18.5449C13.611 19.1352 10.3886 19.1352 7.24316 18.5449Z"
                        fill="#49BFCF" />
                </svg>
                <!-- <i class="fi fi-rr-bell text-light danger open"></i> -->
            </a>
        </div>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard student_registration">
        <div class="assignment-stats">
            <!-- Top wizard section start-->
            <div class="wizard">
                <ul>
                    <li class="form_1_progessbar tab_active">
                        <div>
                            <p>1</p>
                        </div>
                    </li>
                    <li [ngClass]="form2ProgressBar">
                        <div>
                            <p>2</p>
                        </div>
                    </li>
                    <li [ngClass]="form3ProgressBar" >
                        <div>
                            <p>3</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Top wizard section end -->

            <div class="form_wrap">
                <div class="form_1" *ngIf="activeSection == 'personal'">
                    <h2 class="font-21 secondary mb-3">Personal info</h2>
                    <form [formGroup]="personlaDetailsForm">
                        <div class="row mb-3">
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Full Name</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="fullName" class="form-control input_text" name="fullName" [(ngModel)]="registrationDetails.fullName"
                                            formControlName="fullName" placeholder="Student Name..">
                                            <div *ngIf="isFieldInvalidForpersonlaDetailsForm('fullName')" class="text-danger">Full Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Date of Birth</label>
                                    <div class="input_icon position-relative">
                                        <input type="date" id="dob" class="form-control input_text"
                                            formControlName="dob" [(ngModel)]="registrationDetails.dob" name="dob"
                                            placeholder="Date fo Birth..">
                                        <div *ngIf="isFieldInvalidForpersonlaDetailsForm('dob')" class="text-danger mt-1 "class="text-danger">Date of birth is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Father's name</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="fathersName" class="form-control input_text"
                                            name="fathersName" formControlName="fathersName"
                                            [(ngModel)]="registrationDetails.fathersName"
                                            placeholder="father's name..">
                                            <div *ngIf="isFieldInvalidForpersonlaDetailsForm('fathersName')" class="text-danger mt-1 "class="text-danger">father's name  is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Father's Ocuupation</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="fathersOccupation" class="form-control input_text"
                                            name="fathersOccupation" formControlName="fathersOccupation"
                                            [(ngModel)]="registrationDetails.fathersOccupation"
                                            placeholder="fathersOccupation..">
                                            <div *ngIf="isFieldInvalidForpersonlaDetailsForm('fathersOccupation')" class="text-danger mt-1 "class="text-danger">fathersOccupation is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Mother's name</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="mothersName" class="form-control input_text"
                                            name="mothersName" formControlName="mothersName"
                                            [(ngModel)]="registrationDetails.mothersName" placeholder="mother's name..">
                                            <div *ngIf="isFieldInvalidForpersonlaDetailsForm('mothersName')" class="text-danger mt-1 "class="text-danger">mother's name  is required.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mb_20">
                              
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Contact No. Father's</label>
                                    <div class="input_icon position-relative">
                                        <input type="number" id="contactFather" name="contactFather" class="form-control input_text"   formControlName="contactFather"
                                        [(ngModel)]="registrationDetails.contactFather" placeholder="Conatct..">
                                        <div *ngIf="isFieldInvalidForpersonlaDetailsForm('contactFather')" class="text-danger mt-1 "class="text-danger">father's contact is required.</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Contact No. Mother's</label>
                                    <div class="input_icon position-relative">
                                        <input type="number" id="contactMother" name="contactMother" class="form-control input_text"   formControlName="contactMother"
                                        [(ngModel)]="registrationDetails.contactMother" placeholder="Conatct..">
                                        <div *ngIf="isFieldInvalidForpersonlaDetailsForm('contactMother')" class="text-danger mt-1 "class="text-danger">mother's contact is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Language Known</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="languageKnown" name="languageKnown" class="form-control input_text"   formControlName="languageKnown"
                                        [(ngModel)]="registrationDetails.languageKnown" placeholder="languageKnown..">
                                        <div *ngIf="isFieldInvalidForpersonlaDetailsForm('languageKnown')" class="text-danger mt-1 "class="text-danger">languageKnown is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                            <div class="form-group">
                                <label for="" class="mb_6 font-17 font-500 secondary">Email</label>
                                <div class="input_icon position-relative">
                                    <input type="email" id="email" name="email" class="form-control input_text"   formControlName="email"
                                    [(ngModel)]="registrationDetails.email" placeholder="email..">
                                    <div *ngIf="isFieldInvalidForpersonlaDetailsForm('email')" class="text-danger mt-1 "class="text-danger">email is required.</div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Mobile</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="mobile" name="mobile" class="form-control input_text"   formControlName="mobile"
                                        [(ngModel)]="registrationDetails.mobile" placeholder="mobile..">
                                        <div *ngIf="isFieldInvalidForpersonlaDetailsForm('mobile')" class="text-danger mt-1 "class="text-danger">mobile is required.</div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- row -->
                        <div class="row">
                            <div class="col-md-12 text-end">
                                <button class="top_profile_sec_btn font-16 font-500 personal_next_btns"
                                  (click)=" moveToNextSection()">Next
                                </button>
                            </div>
                        </div><!-- row -->
                    </form>
                </div>

                <div class="form_2"  *ngIf="activeSection === 'inrollment'">
                    <h2 class="font-21 secondary mb-3 text-center"> Enrolment Info</h2>
                    <form  [formGroup]="inrollmentForm">
                        <div class="row mb-3">
                            <div class="col-md-6 mb_20">
                            
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Apply for Course</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="applyForCourse" class="form-control input_text"  name="applyForCourse"
                                            formControlName="applyForCourse"   [(ngModel)]="registrationDetails.applyForCourse"
                                            placeholder="Apply for Course..">
                                            <div *ngIf=" isFieldInvalidForinrollmentForm('applyForCourse')" class="text-danger"> Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">


                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Current Course</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="currentCourse" class="form-control input_text"  name="currentCourse"
                                            formControlName="currentCourse"   [(ngModel)]="registrationDetails.currentCourse"
                                            placeholder="Apply for Course..">
                                            <div *ngIf=" isFieldInvalidForinrollmentForm('currentCourse')" class="text-danger"> currentCourse is required.</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 mb_20">
    
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Joining Date</label>
                                    <div class="input_icon position-relative">
                                        <input type="date" id="joinDate" class="form-control input_text"  name="joinDate"
                                            formControlName="joinDate"   [(ngModel)]="registrationDetails.joinDate"
                                            placeholder="Joining Date..">
                                            <div *ngIf=" isFieldInvalidForinrollmentForm('joinDate')" class="text-danger">joinDate is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">

                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">Current Sem</label>
                                    <div class="input_icon position-relative">
                                        <input type="number" id="currentSem" class="form-control input_text"  name="currentSem"
                                            formControlName="currentSem"   [(ngModel)]="registrationDetails.currentSem"
                                            placeholder="currentSem ..">
                                            <div *ngIf=" isFieldInvalidForinrollmentForm('currentSem')" class="text-danger">currentSem is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <div class="form-group">
                                    <label for="" class="mb_6 font-17 font-500 secondary">College Name</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="college" class="form-control input_text"  name="college"
                                            formControlName="college"   [(ngModel)]="registrationDetails.college"
                                            placeholder="college ..">
                                            <div *ngIf=" isFieldInvalidForinrollmentForm('college')" class="text-danger">college is required.</div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <button class="top_profile_sec_btn font-16 font-500"
                                  (click)="moveToPreviousSection()">Back
                                </button>
                                <button class="top_profile_sec_btn font-16 font-500"
                                   (click)="moveToNextSection()">Next
                                </button>
                            </div>
                        </div><!-- row -->
                    </form>
                </div>

                <div class="form_3"  *ngIf="activeSection === 'address'">
                    <h2 class="font-21 secondary mb-3 text-end"> Address</h2>
                    <form [formGroup]="addressForm">
                        <div class="row mb-3">
                            <div class="col-md-12 mb_20">
                                <div class="form-group">
                                <label for="" class="mb_6 font-17 font-500 secondary">Local Address</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="localAddress" name="localAddress" class="form-control input_text"  formControlName="localAddress" 
                                        [(ngModel)]="registrationDetails.localAddress" placeholder="Address..">
                                        <div *ngIf=" isFieldInvalidForAddressForm('localAddress')" class="text-danger"> Name is required.</div>
                                </div>
                            </div>

                            </div>
                            <div class="col-md-12 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">Permanent Address</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="parmanentAddress" class="form-control input_text"
                                        [(ngModel)]="registrationDetails.parmanentAddress"
                                        placeholder="Permanent Address..">
                                </div>
                            </div>
                            <!-- <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">City</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"    [(ngModel)]="registrationDetails.email"  placeholder="Day1">
                                </div>
                            </div>
                            <div class="col-md-6 mb_20">
                                <label for="" class="mb_6 font-17 font-500 secondary">State</label>
                                <div class="input_icon position-relative">
                                    <input type="text" id="" name="" class="form-control input_text"    [(ngModel)]="registrationDetails.email" placeholder="Day1">
                                </div>
                            </div> -->

                        </div><!-- row -->

                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <button class="top_profile_sec_btn font-16 font-500" (click)="moveToPreviousSection()">Back
                                </button>
                                <a class="top_profile_sec_btn font-16 font-500 lh-1 address_complete_btns"
                                    (click)="submit()"> Complete</a>
                            </div>
                        </div><!-- row -->
                    </form>
                </div>


            </div>

        </div>
    </div>


    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>