<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

        <div class="profile_top_heading d-flex gap_24">
            <h1 class="font-27 font-700 secondary mb-0">Core Java</h1>
            <button class="top_profile_sec_btn font-14 font-500 lh-1" data-bs-toggle="modal"
                data-bs-target="#chapter-add-content-modal">Create New</button>
        </div>

        <app-profile-bar></app-profile-bar>
        </div>
    </div>

<!-- RESULT START -->
<div class="d-flex mt_24">
    <div class="main_page">
      <div class="dashboard_title d-flex justify-content-between align-items-center">
        <nav aria-label="breadcrumb" class="font-17 font-600 light-black mb-0 lh-36">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html" class="font-17 font-500 gray-light">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="" class="font-17 font-500 gray-light">Subjects</a>
            </li>
            <li class="breadcrumb-item" aria-current="page"><a href="" class="font-17 font-500 gray-light">Core
                Java</a></li>
            <li class="breadcrumb-item  light-black" aria-current="page">Java- Introduction</li>
          </ol>
        </nav>
        <a routerLink="/admin/subjecttopictest" type="button"
          class="back_button font-15 font-500 d-flex justify-content-center align-items-center lh-0"><i
            class="fi fi-rr-arrow-left lh-0"></i>Back</a>
      </div>
      <div class="scroll_sec sub_detail-scroll">
        <div class="sub_details d-flex flex-column" id="updown_btn">
            <div class="top-test-question">
                <h1 class="font-24 font-600 dark-black">Printf Scanf </h1>
                <div class="test-que-edit-del">
                    <span class="d-flex align-items-center gap_5 font-17 font-500 secondary" data-bs-toggle="modal"
                    data-bs-target="#chapter-edit-content-modal"><i
                            class="fi fi-rr-file-edit line-height-0"></i> Edit</span>
                    <span class="d-flex align-items-center gap_5 font-17 font-500 delete-icon-color" data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                            class="fi fi-rr-trash line-height-0"></i> Delete</span>
                </div>
            </div>

          <h3 class="font-17 font-600 dark-black">Basic Info1</h3>
          <h4 class="font-15 font-400 lh-26">if we dont pass the argument for a format specifier in a printf then
            the
            value of initialized elements is printed from right to left of there declaration order. Ex: int
            a=10,b,c=20;
            printf("%d %d %d"); output: 20 10 garbage2. printf() prints the message and returns the no of printed
            characters on the calling place. Ex: int a=printf("Hello\n"); and the value of a is 6.3. The arguments
            of
            the printf() is processed from right to left. a=1; printf("%d %d %d",a,a=10,a); output: 10 10 14. First
            argument of printf must be the format string. Format string may contains format specifiers and other
            characters, format specifiers are replaced by there respective arguments.5. No of printed arguments
            depends
            on no of format specifier. printf("%d",10,20,30); output: 106. We can modify the value of constant
            variable
            by using scanf. int x=1; scanf("%d",&x); //Enter: 10=> output is 107. scanf function returns the
            light-infofully readed arguments from the keyboard8. It reads the values from keyboard and stores on the
            suplied address. Escape Sequence character: It is also known as non-printable character. It doesn't
            directoly displayed on the monitor. It has a specific meaning. \a: it generates beep sound \b: it moves
            the
            cursor previous possition \t: it prints the tab space(8 space) \r: it sets the cursor on begining
            character
            of current line. \n: it sets the cursor on begining position of next line. Format Specifier: %c=> to
            display/read a character %s=> to display/read a string %*s=>* represents the width %.*s=>* represents
            the
            no
            of printinted character from a supplied string printf("%*.*s",5,3,"abcde"); output: abc %i=> We can
            read/writ a integer supplied in the form of any radix(octal,hexa,dec). %u=> To read/write unsigned
            integer
            %o=> Read/write integer supplied in the form of octal %d=> Read/write an integer supplied in the form of
            decimal no system. %x=> Read/write an integer supplied in the form of hexa decimal no system. %ld=> To
            read/write a long argument. %f=> To read/write a float value having default precision value is 6. %g=>
            To
            read/write a float value. precision depends on value %e=> To read/write a decimal no in the
            exponent/scientific form. %*X=> * represents the width default preceded char is space. %0*X=> *
            represents
            the width default preceded char is zero. %#X=> it also display the radix form.9. Octal literal starts
            from
            0.10.Hexa decimal literal starts from 0x.11.sprintf() writes the formatted data into a string.12.scanf
            stores the value at the supllied address.13.sscanf() reads a string from another string.</h4>
        </div>
        <div class="sub_details d-flex flex-column">
            <div class="top-test-question">
                <h1 class="font-24 font-600 dark-black">Printf Scanf </h1>
                <div class="test-que-edit-del">
                    <span class="d-flex align-items-center gap_5 font-17 font-500 secondary" data-bs-toggle="modal"
                    data-bs-target="#chapter-edit-content-modal"><i
                            class="fi fi-rr-file-edit line-height-0"></i> Edit</span>
                    <span class="d-flex align-items-center gap_5 font-17 font-500 delete-icon-color" data-bs-toggle="modal" data-bs-target="#delete-modal"><i
                            class="fi fi-rr-trash line-height-0"></i> Delete</span>
                </div>
            </div>
          <h3 class="font-17 font-600 dark-black">Basic Info1</h3>
          <h4 class="font-15 font-400 lh-26">if we dont pass the argument for a format specifier in a printf then
            the
            value of initialized elements is printed from right to left of there declaration order. Ex: int
            a=10,b,c=20;
            printf("%d %d %d"); output: 20 10 garbage2. printf() prints the message and returns the no of printed
            characters on the calling place. Ex: int a=printf("Hello\n"); and the value of a is 6.3. The arguments
            of
            the printf() is processed from right to left. a=1; printf("%d %d %d",a,a=10,a); output: 10 10 14. First
            argument of printf must be the format string. Format string may contains format specifiers and other
            characters, format specifiers are replaced by there respective arguments.5. No of printed arguments
            depends
            on no of format specifier. printf("%d",10,20,30); output: 106. We can modify the value of constant
            variable
            by using scanf. int x=1; scanf("%d",&x); //Enter: 10=> output is 107. scanf function returns the
            light-infofully readed arguments from the keyboard8. It reads the values from keyboard and stores on the
            suplied address. Escape Sequence character: It is also known as non-printable character. It doesn't
            directoly displayed on the monitor. It has a specific meaning. \a: it generates beep sound \b: it moves
            the
            cursor previous possition \t: it prints the tab space(8 space) \r: it sets the cursor on begining
            character
            of current line. \n: it sets the cursor on begining position of next line. Format Specifier: %c=> to
            display/read a character %s=> to display/read a string %*s=>* represents the width %.*s=>* represents
            the
            no
            of printinted character from a supplied string printf("%*.*s",5,3,"abcde"); output: abc %i=> We can
            read/writ a integer supplied in the form of any radix(octal,hexa,dec). %u=> To read/write unsigned
            integer
            %o=> Read/write integer supplied in the form of octal %d=> Read/write an integer supplied in the form of
            decimal no system. %x=> Read/write an integer supplied in the form of hexa decimal no system. %ld=> To
            read/write a long argument. %f=> To read/write a float value having default precision value is 6. %g=>
            To
            read/write a float value. precision depends on value %e=> To read/write a decimal no in the
            exponent/scientific form. %*X=> * represents the width default preceded char is space. %0*X=> *
            represents
            the width default preceded char is zero. %#X=> it also display the radix form.9. Octal literal starts
            from
            0.10.Hexa decimal literal starts from 0x.11.sprintf() writes the formatted data into a string.12.scanf
            stores the value at the supllied address.13.sscanf() reads a string from another string.</h4>
        </div>
        <a  routerLink="/admin/chapterquiz" type="button" class="back_button font-17 font-700 text-capitalize">Chapter quiz</a>
      </div>
    </div>

  
  <!-- RESULT END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>
<!--DASHBOARD END -->

<!-- Modal Delete Modal Start -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close"
                    style="top: -23%;">
                    <i class="fi fi-rr-cross close_icon"></i>
                </button>

                <p class="secondary font-21 font-500 text-center">Are You Sure You Want To Delete This Question?
                </p>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <a href="admin_subjects_chapter.html">
                        <button type="button" class="cancel_modal_btn font-15 font-500 delete-icon-color">Yes,
                            delete</button>
                    </a>
                    <a href="admin_subjects_chapter.html">
                        <button type="button" class="apply_modal_btn font-15 font-500">No, Do not
                            delete</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Delete Modal End -->

<!-- Modal Admin Chapter Add Content Modal Start -->
<div class="modal fade" id="chapter-add-content-modal" tabindex="-1" aria-labelledby="chapter-add-content-modal" aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Add Content</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Java Introduction</label>
                            <textarea class="form-control text_area" id="exampleFormControlTextarea1" rows="6" placeholder="Start Typing....."></textarea>
                        </div>

                    </div><!-- row -->
                </form>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                        aria-label="Close">Cancel</button>
                    <a routerLink="/admin/subjectchapter">
                        <button type="button" class="apply_modal_btn font-15 font-500">Save</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Admin Chapter Add Content Modal End -->

        <!-- Modal Admin Chapter Edit Content Modal Start -->
        <div class="modal fade" id="chapter-edit-content-modal" tabindex="-1" aria-labelledby="chapter-edit-content-modal" aria-hidden="true">
            <div class="modal-dialog position-relative leave_modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header apply_title">
                            <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                                id="exampleModalLabel1">Edit Content</h1>
                            <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fi fi-rr-cross close_icon"></i>
                            </button>
                        </div>

                        <form action="">
                            <div class="row">
                                <div class="col-md-12 mb_18">
                                    <label for="" class="mb_6 font-15 font-500 secondary">Java Introduction</label>
                                    <textarea class="form-control text_area" id="exampleFormControlTextarea1" rows="6" placeholder="Start Typing....."></textarea>
                                </div>

                            </div><!-- row -->
                        </form>
                        <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                            <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            <a  routerLink="/admin/subjectchapter">
                                <button type="button" class="apply_modal_btn font-15 font-500">Save</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>