    <div class="profile">
      <div class="d-flex align-items-center porfile_sec">
      <div class="">
        <img src="assets/images/temp_img/Ellipse 1.png" class="profile-Image-Size">
      </div>
      <div class="text mx-3">
        <h3 class="font-17 font-600 text-black user-name">Rahil Kothari</h3>
        <p class="font-14 font-400  text-black mb-0">Ui/Ux Team Lead</p>
      </div>
    </div>
      <a  class="ms-3 right_menu_toggle">
        <i class="fi fi-rr-menu-burger danger open"></i>
        <i class="fi fi-rr-cross danger close_menu"></i>
      </a>
    </div>