.profile-Image-Size{
    width: 48px;
    height: 48px;
    border-radius: 25px;
}
.image{
    height: 50px;
    // width: 50px;
    border-radius: 50px;
}
.profilemargin {
    margin-bottom: 17px;
}
