
.main-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card0,
.right-task-area {
    width: 25%;
}

.calender-img {
    width: 50%;
}

.imagestudent {
    border-radius: 40px;
    height: 70px;
    width: 70px;
  }
  .main-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card0,
.right-task-area {
    width: 25%;
}

.calender-img {
    width: 50%;
}

.imagestudent {
    border-radius: 40px;
    height: 70px;
    width: 70px;
  }
   /* slider css */
   .swiper {
    padding-bottom: 60px !important;
    /* height: 250px; */

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        transition: 0.2s;
    }

    .slider_icon {
        color: #fff;
        font-size: 24px;
    }

    .prev,
    .next {
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 100;
        position: absolute;
        /* top: 50%; */
        transform: translateY(-50%);
        opacity: 0.65;
        transition: 0.2s;
        background-color: #958f8f;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: 1;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        svg path {
            fill: #fff;
        }
    }

    .prev {
        right: 80px;
    }

    .next {
        right: 25px;
    }

    .pagination {
        margin-left: 8px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        z-index: 100;

        span {
            font-size: 0;
            opacity: 1;
            margin: 0px 6px !important;
            border: 1px solid #fff;

            &.swiper-pagination-bullet-active {
                background-color: transparent;
                transform: scale(1.5);
            }
        }
    }
}