<div id="main" class="main mycourse_page">
    <!-- REVIEW START -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="review  d-flex justify-content-between align-items-center">
            <a routerLink="/result" type="button"
              class="back_button font-15 font-500 d-flex justify-content-center align-items-center"><i
                class="fi fi-rr-arrow-left lh-0"></i>Back</a>
            <h5 class="font-24 font-700 light-black mb-0">Review Answers</h5>
            <h6 class="font-19 font-600 light-black mb-0">Your Score - 26/35</h6>
          </div>
          <div class="review_section">
            <div class="questions_answer review_questions">
              <div>
                <div class="review_questions d-flex justify-content-between">
                  <h3 class="font-17 font-700 light-black">Question - 1</h3>
                  <h4 class="font-17 font-700 light-red">In-Correct</h4>
                </div>
                <h5 class="font-19 font-400 txt-dark">In class of 27, the overall weight of the students is 997. Can you font
                  out the average weight of each
                  student in the class?</h5>
              </div>
              <div>
                <div class="wrong_answer mb-4 d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                  <i
                    class="fi fi-rr-cross-small  cross_icon txt-white lh-0 d-flex justify-content-center align-items-center"></i>
                </div>
                <div class="answer_option d-flex justify-content-between align-items-center mb-4">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
  
                </div>
                <div class="right_answer mb-4 d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                  <i class="fi fi-rr-check right_icon txt-white lh-0 d-flex justify-content-center align-items-center"></i>
                </div>
                <div class="answer_option d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
  
                </div>
              </div>
            </div>
            <div class="questions_answer review_questions">
              <div>
                <div class="questions d-flex justify-content-between">
                  <h3 class="font-17 font-700 light-black">Question - 2</h3>
                  <h4 class="font-17 font-700 light-info">Did Not Answer</h4>
                </div>
                <h5 class="font-19 font-400 txt-dark">In class of 27, the overall weight of the students is 997. Can you font
                  out the average weight of each
                  student in the class?</h5>
              </div>
              <div>
                <div class="wrong_answer mb-4 d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                  <i
                    class="fi fi-rr-cross-small  cross_icon txt-white lh-0 d-flex justify-content-center align-items-center"></i>
                </div>
                <div class="answer_option d-flex justify-content-between align-items-center mb-4">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                </div>
                <div class="right_answer mb-4 d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                  <i class="fi fi-rr-check right_icon txt-white lh-0 d-flex justify-content-center align-items-center"></i>
                </div>
                <div class="answer_option d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                </div>
              </div>
            </div>
            <div class="questions_answer review_questions">
              <div>
                <div class="questions d-flex justify-content-between">
                  <h3 class="font-17 font-700 light-black">Question - 3</h3>
                  <h4 class="font-17 font-700">In-Correct</h4>
                </div>
                <h5 class="font-19 font-400 txt-dark">In class of 27, the overall weight of the students is 997. Can you font
                  out the average weight of each
                  student in the class?</h5>
              </div>
              <div>
                <div class="wrong_answer mb-4 d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                  <i
                    class="fi fi-rr-cross-small  cross_icon txt-white lh-0 d-flex justify-content-center align-items-center"></i>
                </div>
                <div class="answer_option d-flex justify-content-between align-items-center mb-4">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                </div>
                <div class="right_answer mb-4 d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                  <i class="fi fi-rr-check right_icon txt-white lh-0 d-flex justify-content-center align-items-center"></i>
                </div>
                <div class="answer_option d-flex justify-content-between align-items-center">
                  <H5 class="font-17 font-600 mb-0">A-36.93</H5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- REVIEW END -->
  <!-- MIDDLE CONTENT END -->  
</div>