.post_img{
    width: 240px;
    height: 240px;
}
.profilePic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    aspect-ratio: 1;
}
.submit_ans_img{
    width: 108px;
    height: 108px;
    border-radius: 50%;
}