<div id="main" class="main dashboard_page">
            <div class="profile d-flex mb-4">

                <div class="profile_top_heading d-flex gap_24">
                    <h1 class="font-27 font-700 secondary mb-0">Courses</h1>
                    <button class="top_profile_sec_btn font-14 font-500 lh-1" data-bs-toggle="modal"
                        data-bs-target="#course-add-modal" (click)=" getAllSubjects()" (click)="getAllTechImages()">Create New</button>
                </div>

                <app-profile-bar></app-profile-bar>
            </div>

            <!-- DASHBOARD START -->

            <div class="scroll_sec mt-0">
                <div class="row">
                    <h3 class="font-21 font-600 secondary position-relative" *ngIf="  totalCourses == 0">
                        NO COURSES AVAILABLE
                      </h3>
                    <div class="col-md-3 bootstrap_cards" *ngFor="let course of courses">
                        <div class="admin-subject_card">
                            <div class="admin-subject_card_top">
                                <div class="admin-subject_name_card">
                                    <div class="admin-sub-left">
                                        <div class="admin-subject-image">
                                            <img [src]="imageUrl+course.technologyStack.imageName">
                                        </div>
                                        <div class="subject-details">
                                            <h3 class="subject_heading txt-dark mb-0">{{course.courseName}}</h3>
                                            <p class="chapter-cout mb-0">{{course.batches.length}} Batches {{course.subjects.length}} Subjects</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <i class="fi fi-ss-menu-dots-vertical text_gray fw-bold fs-5" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: 8rem;">
                                        <li><a routerLink="/admin/coursesbatches/{{course.courseId}}"
                                          class="mb-0 warning d-flex align-items-center gap_5 dropdown-padding"><i
                                              class="fi fi-rr-document line-height-0"></i> View</a></li>
                                        <li>  <p class="mb-0 warning d-flex align-items-center gap_5 dropdown-padding pointer" data-bs-toggle="modal"
                                          data-bs-target="#course-edit-modal" (click)="getCourseById(course.courseId)"><i
                                              class="fi fi-rr-file-edit line-height-0"></i> Edit</p></li>
                                        <li> <p class="mb-0 delete-icon-color d-flex align-items-center gap_5 dropdown-padding pointer"
                                          data-bs-toggle="modal" data-bs-target="#delete-modal" (click)="courseId=course.courseId"><i
                                              class="fi fi-rr-trash line-height-0"></i> Delete</p></li>
                                      </ul>
                              </div>
                                <!-- <i class="fi fi-ss-menu-dots-vertical meat-dot  text_gray" onclick="meat_dot(this)"></i>
                                <div class="meat-dot-dropdown" style="display: none;" >
                                    <a routerLink="/admin/coursesbatches/{{course.courseId}}"
                                        class="mb-1 warning d-flex align-items-center gap_5"><i
                                            class="fi fi-rr-document line-height-0"></i> View</a>
                                    <p class="mb-0 warning d-flex align-items-center gap_5" data-bs-toggle="modal"
                                        data-bs-target="#course-edit-modal" (click)="getCourseById(course.courseId)"><i
                                            class="fi fi-rr-file-edit line-height-0"></i> Edit</p>
                                    <p class="mb-0 delete-icon-color d-flex align-items-center gap_5"
                                        data-bs-toggle="modal" data-bs-target="#delete-modal" (click)="courseId=course.courseId"><i
                                            class="fi fi-rr-trash line-height-0"></i> Delete</p>
                                </div> -->

                            </div><!-- subject_card_top -->

                        </div> <!-- subject_card -->
                    </div>
                    
                </div>
            </div>
            <!-- DASHBOARD END -->

            <!-- RIGHT SIDE START-->
           <app-right-side-bar></app-right-side-bar>
            <!-- RIGHT SIDE END -->


            <!-- MIDDLE CONTENT END -->


        </div>
        <!--DASHBOARD END -->

        <!-- Modal Delete Modal Start -->
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
            <div class="modal-dialog position-relative leave_modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close"
                            style="top: -23%;">
                            <i class="fi fi-rr-cross close_icon"></i>
                        </button>

                        <p class="secondary font-21 font-500 text-center">Are You Sure You Want To Delete This Course?
                        </p>
                        <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                            <a >
                                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="cancel_modal_btn font-15 font-500 delete-icon-color pointer" (click)="deleteCourse(courseId)">Yes,
                                    delete</button>
                            </a>
                            <a >
                                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="apply_modal_btn font-15 font-500 pointer">No, Do not
                                    delete</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Delete Modal End -->


        <!-- Modal Admin Course Add Modal Start -->
        <div class="modal fade" id="course-add-modal" tabindex="-1" aria-labelledby="course-add-modal" aria-hidden="true">
            <div class="modal-dialog position-relative leave_modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header apply_title">
                            <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                                id="exampleModalLabel1">Add Course</h1>
                            <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fi fi-rr-cross close_icon"></i>
                            </button>
                        </div>
                        <form  >
                            <div class="row">
                                
                                <div class="col-md-12 mb_18">
                                    <h6 class="mb-4 font-15 font-500 secondary" >Selected Image :- {{imageName}}</h6>
                                    <div class="all-course-images d-flex flex-wrap">
                                        <div class="add-course-img" *ngFor="let image of techImages">
                                            <img [src]="imageUrl+image.imageName"  alt="" (click)="courseRequest.technologyStack= image.id" (click)="imageName = image.technologyName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb_18">
                                    <label for="" class="mb_6 font-15 font-500 secondary">Course Name</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="" name="courseName" class="form-control input_text"
                                            placeholder="Enter Course Name" [(ngModel)]="courseRequest.courseName">
                                    </div>
                                </div>
                                <div class="col-md-12 mb_18">
                                    <label for="" class="mb_6 font-15 font-500 secondary">Course Fees</label>
                                    <div class="input_icon position-relative">
                                        <input type="number" id="" name="courseFees" class="form-control input_text"
                                            placeholder="Enter Course Fees" [(ngModel)]="courseRequest.courseFees">
                                    </div>
                                </div>
                                <div class="col-md-12 mb_18">
                                    <label for="" class="mb_6 font-15 font-500 secondary">Course Duration (In Months)</label>
                                    <div class="input_icon position-relative">
                                        <input type="text" id="" name="duration" class="form-control input_text"
                                            placeholder="Enter Course Duration" [(ngModel)]="courseRequest.duration">
                                    </div>
                                </div>
                                
                                <h2 class="font-15 font-500 secondary">Subjects</h2>
                                <div class="all-subjects-list mb_18">
                                    <div class="col-md-12 mb_18" *ngFor="let subject of subjects">
                                        <div class="input_icon position-relative input_text checkbox_area">
                                          <div class="d-flex gap_5 align-items-center">
                                            <img src="assets/images/temp_img/subject-img.png" alt="" width="24" height="24">
                                            <h2 class="font-15 font-500 mb-0 secondary">{{ subject.subjectName }}</h2>
                                          </div>
                                          <input
                                            type="checkbox"
                                            name="subjectIds"
                                            [ngModel]="selectedSubjectIds[subject.subjectId]"
                                            (ngModelChange)="checkboxChanged(subject.subjectId)"
                                            class="choose-subjects"
                                          >
                                        </div>
                                      </div>
                             </div> <!-- all-subjects-list -->
                             <div class="col-md-12 mb_18">
                                <label for="" class="mb_6 font-15 font-500 secondary">Course Description</label>
                                <div class="input_icon position-relative">
                                    <textarea type="number" id="" name="sortDescription" class="form-control input_text"
                                        placeholder="Enter Course Description" [(ngModel)]="courseRequest.sortDescription"></textarea>
                                </div>
                            </div>
                            </div><!-- row -->
                        </form>
                        <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                            <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                                aria-label="Close">Cancel</button>
                            <a routerLink="/admin/course">
                                <button type="button" class="apply_modal_btn font-15 font-500" (click)="saveCourse()">Save Course</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Admin Course Add Modal End -->

                <!-- Modal Admin Course Edit Modal Start -->
                <div class="modal fade" id="course-edit-modal" tabindex="-1" aria-labelledby="course-edit-modal" aria-hidden="true">
                    <div class="modal-dialog position-relative leave_modal">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-header apply_title">
                                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                                        id="exampleModalLabel1">Edit Course</h1>
                                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fi fi-rr-cross close_icon"></i>
                                    </button>
                                </div>
        
                                <form action="">
                                    <div class="row">
                                        <!-- <div class="col-md-12 mb_18">
                                            <div class="subject_edit_media_attech d-flex align-items-center justify-content-center  position-relative" style="height: 120px;">
                                                <input type="file" name="fileupload" value="fileupload" class="d-none"
                                                    id="fileupload">
                                                <label for="fileupload" class="font-17 font-500 d-flex">
                                                    <i class="fi fi-rr-plus-small warning font-24 line-height-0"></i>
                                                    Add Media</label>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12 mb_18">
                                            <h6 class="mb-4 font-15 font-500 secondary" >Selected Image :- {{course.technologyStack.technologyName}}</h6>
                                            <div class="all-course-images d-flex flex-wrap">
                                                <div class="add-course-img" *ngFor="let image of techImages">
                                                    <img [src]="imageUrl+image.imageName"  alt="" (click)="course.technologyStack = image" (click)="imageName = image.technologyName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb_18">
                                            <label for="" class="mb_6 font-15 font-500 secondary">Course Name</label>
                                            <div class="input_icon position-relative">
                                                <input type="text" id="" name="courseName" class="form-control input_text"
                                                    placeholder="Enter Course Name" [(ngModel)]="course.courseName">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb_18">
                                            <label for="" class="mb_6 font-15 font-500 secondary">Course Fees</label>
                                            <div class="input_icon position-relative">
                                                <input type="number" id="" name="courseFees" class="form-control input_text"
                                                    placeholder="Enter Course Fees" [(ngModel)]="course.courseFees">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb_18">
                                            <label for="" class="mb_6 font-15 font-500 secondary">Course Duration (In Months)</label>
                                            <div class="input_icon position-relative">
                                                <input type="text" id="" name="duration" class="form-control input_text"
                                                    placeholder="Enter Course Duration" [(ngModel)]="course.duration">
                                            </div>
                                        </div>
        
                                        <h2 class="font-15 font-500 secondary">Subjects</h2>
                                        <div class="all-subjects-list mb_18">
                                         <div class="col-md-12 mb_18" *ngFor="let subject of subjects">
                                            <div class="input_icon position-relative input_text checkbox_area">
                                                <div class="d-flex gap_5 align-items-center">
                                                    <img src="assets/images/temp_img/subject-img.png" alt="" width="24" height="24">
                                                    <h2 class="font-15 font-500 mb-0 secondary">{{subject.subjectName}}</h2>
                                                </div>
                                                <input
                                                type="checkbox"
                                                name="subjects"
                                                [checked]="checkSubjectInCourse(subject.subjectId)"
                                                (click)="addAndRemoveSubjectsFromCourse(subject)"
                                                class="choose-subjects"
                                              >
                                            </div>
                                        </div>
                                    </div> <!-- all-subjects-list -->
                                    <div class="col-md-12 mb_18">
                                        <label for="" class="mb_6 font-15 font-500 secondary">Course Description</label>
                                        <div class="input_icon position-relative">
                                            <textarea type="number" id="" name="sortDescription" class="form-control input_text"
                                                placeholder="Enter Course Description" [(ngModel)]="course.sortDescription"></textarea>
                                        </div>
                                    </div>
                                    </div><!-- row -->
                                </form>
                                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                                    <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                                        aria-label="Close">Cancel</button>
                                    <a>
                                        <button type="button" class="apply_modal_btn font-15 font-500" (click)="updateCourse()">Update Course</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>