<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

        <div class="profile_top_heading d-flex gap_24">
            <h1 class="font-27 font-700 secondary mb-0">Assignments</h1>
            <button class="top_profile_sec_btn font-14 font-500" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">Register student</button>
        </div>

        <app-profile-bar></app-profile-bar>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard">

        <div class="row">

            <div class="col-md-12">
                <div class="attendance_dropdown d-flex justify-content-between align-items-center">
                    <h3 class="admin-title font-17 font-600 secondary position-relative">Student</h3>
                   <div class="right-side-dropdown-btn d-flex">
                    <div class="student-search">
                        <input type="text" name="" id="" placeholder="Search" class="gray-input-bg">
                    </div>
                    <div class="dropdown">
                        <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Course
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">January</a></li>
                          <li><a class="dropdown-item" href="#">February</a></li>
                          <li><a class="dropdown-item" href="#">March</a></li>
                          <li><a class="dropdown-item" href="#">April</a></li>
                          <li><a class="dropdown-item" href="#">May</a></li>
                          <li><a class="dropdown-item" href="#">June</a></li>
                          <li><a class="dropdown-item" href="#">July</a></li>
                          <li><a class="dropdown-item" href="#">August</a></li>
                          <li><a class="dropdown-item" href="#">September</a></li>
                          <li><a class="dropdown-item" href="#">October</a></li>
                          <li><a class="dropdown-item" href="#">November </a></li>
                          <li><a class="dropdown-item" href="#">December </a></li>
                        </ul>
                      </div>
                      <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Year/Month
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                            <li><a class="dropdown-item" href="#">April</a></li>
                            <li><a class="dropdown-item" href="#">May</a></li>
                            <li><a class="dropdown-item" href="#">June</a></li>
                            <li><a class="dropdown-item" href="#">July</a></li>
                            <li><a class="dropdown-item" href="#">August</a></li>
                            <li><a class="dropdown-item" href="#">September</a></li>
                            <li><a class="dropdown-item" href="#">October</a></li>
                            <li><a class="dropdown-item" href="#">November </a></li>
                            <li><a class="dropdown-item" href="#">December </a></li>
                          </ul>
                        </div>
                        <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                            <li><a class="dropdown-item" href="#">April</a></li>
                            <li><a class="dropdown-item" href="#">May</a></li>
                            <li><a class="dropdown-item" href="#">June</a></li>
                            <li><a class="dropdown-item" href="#">July</a></li>
                            <li><a class="dropdown-item" href="#">August</a></li>
                            <li><a class="dropdown-item" href="#">September</a></li>
                            <li><a class="dropdown-item" href="#">October</a></li>
                            <li><a class="dropdown-item" href="#">November </a></li>
                            <li><a class="dropdown-item" href="#">December </a></li>
                          </ul>
                        </div>
                   </div>
                  </div>
                <div class="table_container">
                    <table class="table mb-0">
                        <thead style="background:#EDF9FB;">
                            <tr class="table_heading">
                                <th scope="col" class="font-15 font-600 secondary">Name</th>
                                <th scope="col" class="font-15 font-600 secondary">Course</th>
                                <th scope="col" class="font-15 font-600 secondary">Joining on</th>
                                <th scope="col" class="font-15 font-600 secondary">Email</th>
                                <th scope="col" class="font-15 font-600 secondary">Phone Num</th>
                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            <tr>
                                <td>
                                   <a routerLink="/admin/studentprofile"  class="font-13 font-500 mb-0 text_gray d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    Wade Warren                                         
                                   </a>
                                </td>
                                <td>UI/UX Designer</td>
                                <td>23 Jan, 2023</td>
                                <td>placement@gmail.com</td>
                                <td>9632548152</td>
                            </tr>
                            <tr>
                                <td>
                                   <a routerLink="/admin/studentprofile"  class="font-13 font-500 mb-0 text_gray d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    Wade Warren                                         
                                   </a>
                                </td>
                                <td>UI/UX Designer</td>
                                <td>23 Jan, 2023</td>
                                <td>placement@gmail.com</td>
                                <td>9632548152</td>
                            </tr>
                            <tr>
                                <td>
                                   <a routerLink="/admin/studentprofile"  class="font-13 font-500 mb-0 text_gray d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    Wade Warren                                         
                                   </a>
                                </td>
                                <td>UI/UX Designer</td>
                                <td>23 Jan, 2023</td>
                                <td>placement@gmail.com</td>
                                <td>9632548152</td>
                            </tr>
                            <tr>
                                <td>
                                   <a routerLink="/admin/studentprofile"  class="font-13 font-500 mb-0 text_gray d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    Wade Warren                                         
                                   </a>
                                </td>
                                <td>UI/UX Designer</td>
                                <td>23 Jan, 2023</td>
                                <td>placement@gmail.com</td>
                                <td>9632548152</td>
                            </tr>
                            <tr>
                                <td>
                                   <a routerLink="/admin/studentprofile"  class="font-13 font-500 mb-0 text_gray d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    Wade Warren                                         
                                   </a>
                                </td>
                                <td>UI/UX Designer</td>
                                <td>23 Jan, 2023</td>
                                <td>placement@gmail.com</td>
                                <td>9632548152</td>
                            </tr>
                            <tr>
                                <td>
                                   <a routerLink="/admin/studentprofile"  class="font-13 font-500 mb-0 text_gray d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    Wade Warren                                         
                                   </a>
                                </td>
                                <td>UI/UX Designer</td>
                                <td>23 Jan, 2023</td>
                                <td>placement@gmail.com</td>
                                <td>9632548152</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>
<!--DASHBOARD END -->


<!-- Modal Create New Assignment start -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Assignment Details</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Assignment
                                Title</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="Day 1">
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Course</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="Mern Stack">
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Subject</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="Core Java">
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Duration</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="1 Day">
                            </div>
                        </div>
                       
                    </div><!-- row -->
                </form>

                <a routerLink="/admin/edittask" class="apply_modal_buttons d-flex justify-content-center align-items-center mt-2">
                    <button type="button" class="apply_modal_btn">Create</button>
                </a>

            </div>
        </div>
    </div>
</div>