.main-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card0,
.right-task-area {
    width: 25%;
}

.calender-img {
    width: 50%;
}

.imagestudent {
    border-radius: 40px;
    height: 24px;
    width: 24px;
}