<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

        <div class="profile_top_heading d-flex gap_24">
            <h1 class="font-27 font-700 secondary mb-0">Assignments</h1>
            <button class="top_profile_sec_btn font-14 font-500" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">Create New</button>
        </div>

        <div class="profile mb-4 profile-right">
            <div class="d-flex align-items-center porfile_sec">
                <div class="">
                    <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
                </div>
                <div class="text">
                    <h3 class="font-17 font-600 text-black user-name">Rahil Kothari</h3>
                    <p class="font-14 font-400  text-black mb-0">Ui/Ux Team Lead</p>
                </div>
            </div>
            <a href="#" class="ms-3 right_menu_toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.5"
                        d="M18.7491 9V9.7041C18.7491 10.5491 18.9903 11.3752 19.4422 12.0782L20.5496 13.8012C21.5612 15.3749 20.789 17.5139 19.0296 18.0116C14.4273 19.3134 9.57274 19.3134 4.97036 18.0116C3.21105 17.5139 2.43882 15.3749 3.45036 13.8012L4.5578 12.0782C5.00972 11.3752 5.25087 10.5491 5.25087 9.7041V9C5.25087 5.13401 8.27256 2 12 2C15.7274 2 18.7491 5.13401 18.7491 9Z"
                        fill="#49BFCF" />
                    <path
                        d="M7.24316 18.5449C7.8941 20.5501 9.77767 21.9997 11.9998 21.9997C14.222 21.9997 16.1055 20.5501 16.7565 18.5449C13.611 19.1352 10.3886 19.1352 7.24316 18.5449Z"
                        fill="#49BFCF" />
                </svg>
                <!-- <i class="fi fi-rr-bell text-light danger open"></i> -->
            </a>
        </div>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard">

        <div class="row">
            <div class="col-md-6">
                <div class="assignment-stats">
                    <h3 class="admin-title font-17 font-600 secondary position-relative">Stats</h3>
                    <div class="assignment-stats-area">
                        <div class="chart-detail">
                            <div class="submitted-value">
                                <p>Submitted</p>
                                <h2 class="font-14 font-600 text_dark"> <span
                                        class="purple-small-box"></span>120</h2>
                            </div>
                            <div class="pending-value">
                                <p>Pending</p>
                                <h2 class="font-14 font-600 text_dark"> <span class="purple-small-box"></span>30
                                </h2>
                            </div>
                        </div>
                        <div class="assignment-chart">
                            <div class="submitted"></div>
                            <div class="approve"></div>
                            <div class="pending"></div>
                            <div class="our_due"></div>
                        </div>
                        <div class="chart-detail-bottom">
                            <div class="approve-value">
                                <p>Approved</p>
                                <h2 class="font-14 font-600 text_dark"> <span
                                        class="purple-small-box"></span>120</h2>
                            </div>
                            <div class="over-due-value">
                                <p>Over Due</p>
                                <h2 class="font-14 font-600 text_dark"> <span class="purple-small-box"></span>30
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="attendance_dropdown d-flex justify-content-between align-items-center">
                    <h3 class="admin-title font-17 font-600 secondary position-relative">Active Assignments</h3>
                   <div class="right-side-dropdown-btn d-flex">
                    <div class="dropdown">
                        <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Course
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">January</a></li>
                          <li><a class="dropdown-item" href="#">February</a></li>
                          <li><a class="dropdown-item" href="#">March</a></li>
                        </ul>
                      </div>
                      <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Subject
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                          </ul>
                        </div>
                        <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                          </ul>
                        </div>
                   </div>
                  </div>
                <div class="table_container">
                    <table class="table mb-0 admin-table">
                        <thead style="background:#EDF9FB;">
                            <tr class="table_heading">
                                <th scope="col" class="font-15 font-600 secondary">Assignment</th>
                                <th scope="col" class="font-15 font-600 secondary">Status</th>
                                <th scope="col" class="font-15 font-600 secondary">Summited</th>
                                <th scope="col" class="font-15 font-600 secondary">Reviewed</th>
                                <th scope="col" class="font-15 font-600 secondary">Unreviewed</th>
                                <th scope="col" class="font-15 font-600 secondary">Over Due</th>
                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            <tr>
                                <td>
                                    <h5 class="font-15 font-500 mb-0">Hello World!</h5>
                                    <p class="text_gray font-13 font-400 mb-0">Core Java - Java</p>
                                </td>
                                <td class="txt_color_blue">Active</td>
                                <td class="txt_color_purple">214</td>
                                <td class="txt_color_light_green">126</td>
                                <td class="txt_color_yellow">72</td>
                                <td class="txt_color_orange">16</td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-15 font-500 mb-0">Hello World!</h5>
                                    <p class="text_gray font-13 font-400 mb-0">Core Java - Java</p>
                                </td>
                                <td class="txt_color_blue">Active</td>
                                <td class="txt_color_purple">214</td>
                                <td class="txt_color_light_green">126</td>
                                <td class="txt_color_yellow">72</td>
                                <td class="txt_color_orange">16</td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="font-15 font-500 mb-0">Hello World!</h5>
                                    <p class="text_gray font-13 font-400 mb-0">Core Java - Java</p>
                                </td>
                                <td class="txt_color_blue">Active</td>
                                <td class="txt_color_purple">214</td>
                                <td class="txt_color_light_green">126</td>
                                <td class="txt_color_yellow">72</td>
                                <td class="txt_color_orange">16</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="attendance_dropdown d-flex justify-content-between align-items-center">
                    <h3 class="admin-title font-17 font-600 secondary position-relative">Submissions (Recent)</h3>
                   <div class="right-side-dropdown-btn d-flex">
                    <div class="dropdown">
                        <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Course
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">January</a></li>
                          <li><a class="dropdown-item" href="#">February</a></li>
                          <li><a class="dropdown-item" href="#">March</a></li>
                          <li><a class="dropdown-item" href="#">April</a></li>
                          <li><a class="dropdown-item" href="#">May</a></li>
                          <li><a class="dropdown-item" href="#">June</a></li>
                          <li><a class="dropdown-item" href="#">July</a></li>
                          <li><a class="dropdown-item" href="#">August</a></li>
                          <li><a class="dropdown-item" href="#">September</a></li>
                          <li><a class="dropdown-item" href="#">October</a></li>
                          <li><a class="dropdown-item" href="#">November </a></li>
                          <li><a class="dropdown-item" href="#">December </a></li>
                        </ul>
                      </div>
                      <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Subject
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                            <li><a class="dropdown-item" href="#">April</a></li>
                            <li><a class="dropdown-item" href="#">May</a></li>
                            <li><a class="dropdown-item" href="#">June</a></li>
                            <li><a class="dropdown-item" href="#">July</a></li>
                            <li><a class="dropdown-item" href="#">August</a></li>
                            <li><a class="dropdown-item" href="#">September</a></li>
                            <li><a class="dropdown-item" href="#">October</a></li>
                            <li><a class="dropdown-item" href="#">November </a></li>
                            <li><a class="dropdown-item" href="#">December </a></li>
                          </ul>
                        </div>
                        <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                            <li><a class="dropdown-item" href="#">April</a></li>
                            <li><a class="dropdown-item" href="#">May</a></li>
                            <li><a class="dropdown-item" href="#">June</a></li>
                            <li><a class="dropdown-item" href="#">July</a></li>
                            <li><a class="dropdown-item" href="#">August</a></li>
                            <li><a class="dropdown-item" href="#">September</a></li>
                            <li><a class="dropdown-item" href="#">October</a></li>
                            <li><a class="dropdown-item" href="#">November </a></li>
                            <li><a class="dropdown-item" href="#">December </a></li>
                          </ul>
                        </div>
                   </div>
                  </div>
                <div class="table_container">
                    <table class="table mb-0">
                        <thead style="background:#EDF9FB;">
                            <tr class="table_heading">
                                <th scope="col" class="font-15 font-600 secondary">Student Name</th>
                                <th scope="col" class="font-15 font-600 secondary">Assignment</th>
                                <th scope="col" class="font-15 font-600 secondary">Time</th>
                                <th scope="col" class="font-15 font-600 secondary">Status</th>
                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>

                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>

                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_orange">Reassigned</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_green">Accepted</td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <div class="right-sidebar">
        <div class="box0 sidepanel">
            <div class="profile mb-4 profile-right">
                <div class="">
                    <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
                </div>
                <div class="text">
                    <h3 class="font-17 font-600 light user-name">Rahil Kothari</h3>
                    <p class="font-14 font-400  light mb-0">Ui/Ux Team Lead</p>
                </div>
                <a href="#" class="ms-3 right_menu_toggle">
                    <i class="fi fi-rr-cross-small warning fs-2 close_menu"></i>
                </a>
            </div>

            <div class="text1">
                <h4 class="font-17 font-600 light">Updates</h4>
                <h4 class="font-17 font-600 light">Clear All</h4>
            </div>
            <div class="nortification mb-3 position-relative">
                <div class="nortifications-h">
                    <h6 class="font-17 font-400 light notification_title">Notification Heading</h6>
                    <h6 class="font-14 font-400 light mb-0">Notification Message</h6>
                </div>
                <h5 class="font-11 font-400 light">2 Hours ago</h5>
            </div>
            <div class="nortification mb-3 position-relative">
                <div class="nortifications-h">
                    <h6 class="font-17 font-400 light notification_title">Notification Heading</h6>
                    <h6 class="font-14 font-400 light mb-0">Notification Message</h6>
                </div>
                <h5 class="font-11 font-400 light">2 Hours ago</h5>
            </div>
            <div class="nortification mb-3 position-relative">
                <div class="nortifications-h">
                    <h6 class="font-17 font-400 light notification_title">Notification Heading</h6>
                    <h6 class="font-14 font-400 light mb-0">Notification Message</h6>
                </div>
                <h5 class="font-11 font-400 light">2 Hours ago</h5>
            </div>
        </div>
    </div>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>
<!--DASHBOARD END -->


<!-- Modal Create New Assignment start -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Assignment Details</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Assignment
                                Title</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="Day 1">
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Course</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="Mern Stack">
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Subject</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="Core Java">
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Duration</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="" class="form-control input_text"
                                    placeholder="1 Day">
                            </div>
                        </div>
                       
                    </div><!-- row -->
                </form>

                <a routerLink="/admin/createassignments" class="apply_modal_buttons d-flex justify-content-center align-items-center mt-2">
                    <button type="button" class="apply_modal_btn">Create</button>
                </a>

            </div>
        </div>
    </div>
</div>