<div id="main" class="main dashboard_page">
    <div class="profile d-flex">

        <div class="profile_top_heading d-flex gap_24">
            <h1 class="font-27 font-700 secondary mb-0">Subjects</h1>
            <button class="top_profile_sec_btn font-14 font-500 lh-1" data-bs-toggle="modal"
                data-bs-target="#subject-add-modal">Create New</button>
        </div>

        <app-profile-bar></app-profile-bar>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_sec mt-0">
        <div class="row">
            <div class="col-md-3 bootstrap_cards" *ngFor="let subject of subjects">
                <div class="admin-subject_card">
                    <div class="admin-subject_card_top">
                        <div class="admin-subject_name_card">
                            <div class="admin-sub-left">
                                <div class="admin-subject-image">
                                    <img src="assets/images/svg_img/subject.svg">
                                </div>
                                <div class="subject-details">
                                    <h3 class="subject_heading txt-dark mb-0">{{ subject.subjectName }}</h3>
                                    <p class="chapter-cout mb-0">{{subject.chapterCount}} Chapters</p>
                                </div>
                            </div>
                        </div>

              <!-- <div class="meat-dot-dropdown" style="display: none;" >
                            <a routerLink="/admin/subjectchapter/{{subject.subjectId}}"

                                class=" warning d-flex align-items-center gap_8 pointer"><i
                                    class="fi fi-rr-document line-height-0 font-16" ></i> View</a>
                            <p class="mb-0 warning d-flex align-items-center gap_8 pointer" data-bs-toggle="modal"
                                data-bs-target="#subject-edit-modal" (click)="getSubjectById(subject.subjectId)"><i
                                    class="fi fi-rr-file-edit line-height-0 font-15" ></i> Edit</p>
                            <p class="mb-0 delete-icon-color d-flex align-items-center gap_8 pointer"
                                data-bs-toggle="modal" data-bs-target="#delete-modal"><i

                                    class="fi fi-rr-trash line-height-0 font-17"></i> Delete</p>

                        </div> 
                        

                        </div>  -->
                        <!-- <i class="fi fi-ss-menu-dots-vertical text_gray fw-bold fs-5" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    class="fi fi-rr-trash line-height-0 font-17" data-bs-dismiss="modal" aria-label="Close"></i> Delete</p>
                        </div> -->
                        <i class="fi fi-ss-menu-dots-vertical text_gray fw-bold fs-5" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: 8rem;">
                                        <li><a routerLink="/admin/subjectchapter/{{subject.subjectId}}"
                                          class="mb-0 warning d-flex align-items-center gap_5 dropdown-padding pointer"><i
                                              class="fi fi-rr-document line-height-0"></i> View</a></li>
                                        <li>  <p class="mb-0 warning d-flex align-items-center gap_5 dropdown-padding pointer" data-bs-toggle="modal"
                                          data-bs-target="#subject-edit-modal" (click)="getSubjectById(subject.subjectId)" ><i
                                              class="fi fi-rr-file-edit line-height-0"></i> Edit</p></li>
                                        <li> <p class="mb-0 delete-icon-color d-flex align-items-center gap_5 dropdown-padding pointer"
                                          data-bs-toggle="modal" data-bs-target="#delete-modal"  (click)="setSubjectId(subject.subjectId)"><i
                                              class="fi fi-rr-trash line-hei " ></i > Delete</p></li>
                                      </ul>

                    </div><!-- subject_card_top -->

                </div> <!-- subject_card -->
            </div>
        </div>
    </div>
    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>
<!--DASHBOARD END -->

<!-- Modal Delete Modal Start -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close" (click)="reloadMessage() "
                    style="top: -23%;">
                    <i class="fi fi-rr-cross close_icon"></i>
                </button>

                <p class="secondary font-21 font-500 text-center">Are You Sure You Want To Delete This Question?
                </p>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <a >
                        <button type="button" class="cancel_modal_btn font-15 font-500 delete-icon-color" (click)="deleteSubect()">Yes,
                            delete</button>
                    </a>
                    <a >
                        <button type="button" class="apply_modal_btn font-15 font-500">No, Do not
                            delete</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Delete Modal End -->

<!-- Modal Admin Subject Edit Modal Start -->
<div class="modal fade" id="subject-edit-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Edit Course</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close" (click)="reloadMessage()">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <div class="col-md-12 mb_18">
                            <!-- <div
                                class="subject_edit_media_attech d-flex align-items-center justify-content-center  position-relative">
                                <input type="file" name="fileupload" value="fileupload" class="d-none"
                                    id="fileupload">
                                <label for="fileupload" class="font-17 font-500 d-flex">
                                    <i class="fi fi-rr-plus-small warning font-24 line-height-0"></i>
                                    Add Media</label>
                            </div>
                            <div class="col-md-12 mb_18">
                                <label for="" class="mb_6 font-15 font-500 secondary">Add Media</label>
                                    <select class="form-select enabled_inp" aria-label="Default select example" style="background-color: #f2f2f2 !important;" name="technologyStack" [(ngModel)]="subject.technologyStack.id">
                                        <option [ngValue]="subject.technologyStack.id">{{subject.technologyStack.technologyName}}</option>
                                    </select>
                            </div> -->
                            <h6 class="mb-4 font-15 font-500 secondary" >Selected Image :- {{subject.technologyStack.technologyName}}</h6>
                            <div class="all-course-images d-flex flex-wrap">
                                <div class="add-course-img" *ngFor="let image of techImages">
                                    <img [src]="techUrl+image.imageName"  alt="" (click)="subject.technologyStack.id= image.id" (click)="subject.technologyStack.technologyName = image.technologyName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Subject Name</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="subjectName" class="form-control input_text"
                                    placeholder="Day 1" [(ngModel)]="subject.subjectName">
                            </div>
                        </div>
                        <h6 *ngIf="message!=null">{{message}}</h6>
                    </div><!-- row -->
                </form>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                        aria-label="Close" (click)="reloadMessage() ">Cancel</button>
                    <a >
                        <button type="button" class="apply_modal_btn font-15 font-500" (click)="updateSubject()">Update Subject</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Admin Subject Edit Modal End -->

<!-- Modal Admin Subject Add Modal Start -->
<div class="modal fade" id="subject-add-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Add Course</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close" (click)="reloadMessage()">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <!-- <div class="col-md-12 mb_18">
                            <div
                                class="subject_edit_media_attech d-flex align-items-center justify-content-center  position-relative">
                                <input type="file" name="fileupload" value="fileupload" class="d-none"
                                    id="fileupload">
                                <label for="fileupload" class="font-17 font-500 d-flex">
                                    <i class="fi fi-rr-plus-small warning font-24 line-height-0"></i>
                                    Add Media</label>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Add Media</label>
                                <select class="form-select enabled_inp" aria-label="Default select example" style="background-color: #f2f2f2 !important;" name="imageId" [(ngModel)]="subjectData.imageId">
                                    <option *ngFor="let image of techImages" [ngValue]="image.id">{{image.technologyName}}</option>
                                </select>
                        </div> -->
                        <div class="col-md-12 mb_18">
                            <h6 class="mb-4 font-15 font-500 secondary" >Selected Image :- {{imageName}}</h6>
                                <div class="all-course-images d-flex flex-wrap">
                                    <div class="add-course-img" *ngFor="let image of techImages">
                                        <img [src]="techUrl+image.imageName"  alt="" (click)="subjectData.imageId = image.id" (click)="imageName = image.technologyName">
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Subject Name</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="subjectName" class="form-control input_text"
                                    placeholder="Enter Subject Name" [(ngModel)]="subjectData.subjectName">
                            </div>
                        </div>

                    </div><!-- row -->
                </form>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                        aria-label="Close" (click)="reloadMessage() ">Cancel</button>
                    <a routerLink="/admin/subject">
                        <button type="button" class="apply_modal_btn font-15 font-500" (click)="saveSubject()">Save Subject</button>
                    </a>
                  
                </div>
                <h6 *ngIf="message!==null">{{message}}</h6>
            </div>
        </div>
    </div>
</div>
<!-- Modal Admin Subject Add Modal End -->