
<div id="main" class="main main_news">
  <div class="profile d-flex">
    <h1 class="font-27 font-700 secondary mb-0">News & Events</h1>
    <div class="profile">
      <div class="d-flex align-items-center porfile_sec">
      <div class="">
        <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
      </div>
      <div class="text mx-3">
        <h3 class="font-17 font-600 text-black user-name">Rahil Kothari</h3>
        <p class="font-14 font-400  text-black mb-0">Ui/Ux Team Lead</p>
      </div>
    </div>
      <a href="#" class="ms-3 right_menu_toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path opacity="0.5" d="M18.7491 9V9.7041C18.7491 10.5491 18.9903 11.3752 19.4422 12.0782L20.5496 13.8012C21.5612 15.3749 20.789 17.5139 19.0296 18.0116C14.4273 19.3134 9.57274 19.3134 4.97036 18.0116C3.21105 17.5139 2.43882 15.3749 3.45036 13.8012L4.5578 12.0782C5.00972 11.3752 5.25087 10.5491 5.25087 9.7041V9C5.25087 5.13401 8.27256 2 12 2C15.7274 2 18.7491 5.13401 18.7491 9Z" fill="#49BFCF"/>
          <path d="M7.24316 18.5449C7.8941 20.5501 9.77767 21.9997 11.9998 21.9997C14.222 21.9997 16.1055 20.5501 16.7565 18.5449C13.611 19.1352 10.3886 19.1352 7.24316 18.5449Z" fill="#49BFCF"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="scroll_section">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="top-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="heading-1 font-600 text-light heading-2">Learn JAVA From Scratch</h2>
              <h3 class="font-25 font-400 text-light heading-3">New Batch Starting<br class="d-none d-md-block">
                From <span class="font-600">1st April</span></h3>
              <button type="button" class="btn-1 font-17 font-600 mb-3">
                Enroll Now
                <i class="fi fi-rr-arrow-right mt-2 lh-0 ms-0"></i>
               </button>
            </div>
            <div class="col-md-6">
              <img src="assets/images/temp_img/Group 2071.png" class="boy-img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="task_assignment">
      <h3 class="title font-21 font-600 secondary position-relative">News</h3>
      <div class="news_events">
        <div class="row">
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription">
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription">
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription">
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription" >
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription">
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription">
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription">
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 bootstrap_cards">
            <a routerLink="/student/newandseventsdescription">
              <div class="news text_dark">
                <img src="assets/images/temp_img/news.png">
                <div class="news_text">
                  <h3 class="font-12 font-400 small_text">3 Days Ago</h3>
                  <h4 class="font-19 font-500 small_text">Breaking News</h4>
                  <h5 class="font-14 font-500 small_text">News Is Broken</h5>
                </div>
              </div>
            </a>
          </div>
     
        </div>
      </div>
    </div> 
  </div>    
</div>



      <!-- <div class="news_events">
        <div class="row">
          <div class="col-md-12">
            <div class="news">
              <h3 class="font-14 font-400 text_small">3 Days Ago</h3>
              <h4 class="font-36 font-600 text_small mb-4 mt-4">Breaking News</h4>
              <img src="assets/images/temp_img/image 19.png">
              <div class="news_text">
                <h4 class="font-21 font-500 text_small mb-4 mt-4">2nd Heading</h4>
                <h5 class="news_dis font-17 font-400 text_small">Thinking outside the box zeitgeist, or high performance keywords, or we want to empower the team with the right tools and guidance 
                  to uplevel our craft and build better, incentivize adoption, for we need to socialize the comms with the wider stakeholder community. 
                  Effort made was a lot put a record on and see who dances, for hire the best highlights , for product market fit, nor lean into that
                  problem we need distributors to evangelize the new line to local markets. This vendor is incompetent design thinking, for productize 
                  work c-suite. Into the weeds downselect, and can we take this offline bench mark, nor back of the net, nor up the flagpole bazooka that 
                  run it past the boss jump right in and banzai attack will they won't they its all greek to me unless they bother until the end of time maybe
                  vis a vis too many cooks over the line. My grasp on reality right now is tenuous baseline, for turn the crank wheelhouse. The closest elephant 
                  is the most dangerous drink from the firehose eat our own dog food hit the ground running</h5>
              </div>
            </div>
          </div>
      </div>
    </div> -->

<app-right-side-bar></app-right-side-bar>