
<div id="main" class="main main_news">
  <div class="profile d-flex mb-4">
    <h1 class="font-27 font-700 secondary mb-0">News & Events</h1>
    <app-profile-bar></app-profile-bar>
  </div>

  <div class="scroll_section">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="top-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="heading-1 font-600 text-light heading-2">Learn JAVA From Scratch</h2>
              <h3 class="font-25 font-400 text-light heading-3">New Batch Starting<br class="d-none d-md-block">
                From <span class="font-600">1st April</span></h3>
              <button type="button" class="btn-1 font-17 font-600 mb-3">
                Enroll Now
                <i class="fi fi-rr-arrow-right mt-2 lh-0 ms-0"></i>
               </button>
            </div>
            <div class="col-md-6">
              <img src="assets/images/temp_img/Group 2071.png" class="boy-img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="task_assignment">
      <h3 class="title font-21 font-600 secondary position-relative">News</h3>
      <mat-paginator *ngIf="totalNewsAndEvent>8"
      [length]="totalNewsAndEvent"
      [pageSize]="8"
      aria-label="Select page"
      (page)="onChangePage($event)">    
      </mat-paginator> 
      <div class="news_events">
        <h3 class="font-21 font-600 secondary position-relative" *ngIf="totalNewsAndEvent== 0"> NO NEWS AND EVENTS FOUND !!!</h3>
        <div class="row mt-3">
          <div class="col-md-3" *ngFor="let newsAndEvent of newsAndEvents">
            <a routerLink="/student/newandseventsdescription/{{newsAndEvent.id}}" (onclick)="parentTochild(newsAndEvent.dayAgo)">
            <div class="news">
              <!-- <img src="/assets/images/temp_img/news.png" alt=""> -->
              <img class="imageSize" [src]="imageUrl+newsAndEvent.image">
              <div class="news_text dark">
                <h3 class="font-11 font-400 small_text">{{utilityService.updateTimeline(newsAndEvent.createdDate)}}</h3>
                <h4 class="font-21 font-600 small_text">{{newsAndEvent.title}}</h4>
                <h5 class="font-14 font-500 small_text">{{newsAndEvent.shortDescriptoin}}</h5>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div> 
  </div>  



      <!-- <div class="news_events">
        <div class="row">
          <div class="col-md-12">
            <div class="news">
              <h3 class="font-14 font-400 text_small">3 Days Ago</h3>
              <h4 class="font-36 font-600 text_small mb-4 mt-4">Breaking News</h4>
              <img src="assets/images/temp_img/image 19.png">
              <div class="news_text">
                <h4 class="font-21 font-500 text_small mb-4 mt-4">2nd Heading</h4>
                <h5 class="news_dis font-17 font-400 text_small">Thinking outside the box zeitgeist, or high performance keywords, or we want to empower the team with the right tools and guidance 
                  to uplevel our craft and build better, incentivize adoption, for we need to socialize the comms with the wider stakeholder community. 
                  Effort made was a lot put a record on and see who dances, for hire the best highlights , for product market fit, nor lean into that
                  problem we need distributors to evangelize the new line to local markets. This vendor is incompetent design thinking, for productize 
                  work c-suite. Into the weeds downselect, and can we take this offline bench mark, nor back of the net, nor up the flagpole bazooka that 
                  run it past the boss jump right in and banzai attack will they won't they its all greek to me unless they bother until the end of time maybe
                  vis a vis too many cooks over the line. My grasp on reality right now is tenuous baseline, for turn the crank wheelhouse. The closest elephant 
                  is the most dangerous drink from the firehose eat our own dog food hit the ground running</h5>
              </div>
            </div>
          </div>
      </div>
    </div> -->

<app-right-side-bar></app-right-side-bar>