<div class="Dashboard d-flex">
    <!-- MIDDLE CONTENT START -->
    <div id="main" class="main timeline_page position-relative">
      <div class="main_page">
        <div class="d-flex align-items-center justify-content-between">
          <h2 class="font-17 font-600 primary mb-0">Discussion Forum</h2>
         
        </div>
        <div class="scroll_section">
          <div class="timeline_massages" id="updown_btn">
            <div class="timeline_post d-flex justify-content-between align-items-center">
              <img src="assets/images/temp_img/unsplash_RGKdWJOUFH0.png">
              <form class="form-inline text_input my-2 my-lg-0">
                <input class="form_control font-14 font-400 mx-0" type="search" placeholder="Write a post...">
              </form>
              <span class="reply_svg d-flex align-items-center justify-content-center">
                <img src="assets/images/svg_img/reply.svg">
              </span>
            </div>
            <div class="post_btn d-flex align-items-center">
              <button class="Camera font-13 font-700 d-flex justify-content-center align-items-center">
                <i class="fi fi-rr-camera lh-0"></i>Camera
              </button>
              <button class="select_options">
                <form class="d-flex align-items-center  mb-1 position-relative">
                  <input type="file" name="imageupload" value="fileupload" class="d-none" accept="image/*"
                    id="imageupload">
                  <label for="imageupload"
                    class="image_upload font-13 font-700 d-flex justify-content-center align-items-center"><i
                      class="fi fi-rr-file lh-0"></i>Gallery</label>
                </form>
              </button>
              <button class="select_options">
                <form class="d-flex align-items-center  mb-1 position-relative">
                  <input type="file" name="fileupload" value="fileupload" class="d-none" id="fileupload">
                  <label for="fileupload"
                    class="file_upload font-13 font-700 d-flex justify-content-center align-items-center"><i
                      class="fi fi-rr-file lh-0"></i>File</label>
                </form>
              </button>
            </div>
          </div>
          <div class="">
            <div class="post_details">
              <div class="post_discription d-flex align-items-center">
                <div class="">
                  <img src="assets/images/temp_img/unsplash_RGKdWJOUFH0.png">
                </div>
                <div class="text mx-1">
                  <h3 class="font-17 font-600 black mb-0">Rahil Kothari</h3>
                  <p class="font-13 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span></p>
                </div>
                <div class="dropdown d-flex justify-content-center align-items-center ms-auto" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fi fi-rr-menu-dots secondary font-27 lh-0"></i>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <h4 class="post_subtitle primary font-17 font-400 lh-21">Decide to want nothing to do with my
                owner today prance along on top of the garden fence, annoy the neighbor's dog and make it bark pee
                in the shoe. </h4>
              <div class="d-flex justify-content-center align-items-center mb-1">
                <img src="assets/images/temp_img/post.png">
              </div>
              <ul class="nav nav-pills social_icon d-flex align-items-center justify-content-around position-relative"
                id="pills-tab" role="tablist">
                <div class="d-flex align-items-center p-1 like">
                  <i class="social_text fi fi-rr-social-network lh-0"></i>
                  <h3 class="social_text font-13 font-500 mb-0 mx-0 ms-1">Like</h3>
                </div>
                <div class="d-flex align-items-center p-1 comment  comment_box active" role="presentation"
                  id="pills-Timeline-tab" data-bs-toggle="pill" data-bs-target="#pills-Timeline" type="button"
                  aria-controls="pills-Timeline" aria-selected="true">
                  <img src="assets/images/svg_img/Comment.svg">
                  <h3 class="gray font-13 font-500 mb-0 mx-0 ms-1">Submit Answer</h3>
                </div>
              </ul>
              <!-- comment tabs in timeline -->
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show comment_post" id="pills-Timeline" role="tabpanel"
                  aria-labelledby="pills-Timeline-tab" tabindex="0">
                  <div class="comment_details">
                    <div class="forum_post d-flex justify-content-between align-items-center">
                      <img src="assets/images/temp_img/massage_icon.png">
                      <form class="form-inline text_input my-2 my-lg-0">
                        <input class="form_control font-14 font-400 mx-0" type="search"
                          placeholder="Write your answer...">
                      </form>
                      <i
                        class="send_option  fi fi-rr-paper-plane-top white d-flex align-items-center justify-content-center"></i>
                    </div>
                    <div class="comment_section">
                      <div class="d-flex align-items-center mb-1">
                        <div class="mx-1 ms-0">
                          <img src="assets/images/temp_img/commenticon.png">
                        </div>
                        <div class="text mx-1">
                          <h3 class="font-15 font-500 black mb-0">User Name</h3>
                          <p class="font-11 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span>
                          </p>
                        </div>
                       
                      </div>
                      <h3 class="font-15 font-400 text_small">Decide to want nothing to do with my owner today
                        prance along on top of the garden fence.</h3>
                    </div>
                    <div class="comment_section">
                      <div class="d-flex align-items-center mb-1">
                        <div class="mx-1 ms-0">
                          <img src="assets/images/temp_img/commenticon.png">
                        </div>
                        <div class="text mx-1">
                          <h3 class="font-15 font-500 black mb-0">User Name</h3>
                          <p class="font-11 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span>
                          </p>
                        </div>
                       
                      </div>
                      <h3 class="font-15 font-400 text_small">Decide to want nothing to do with my owner today
                        prance along on top of the garden fence.</h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
            <div class="post_details">
              <div class="post_discription d-flex align-items-center">
                <div class="">
                  <img src="assets/images/temp_img/unsplash_RGKdWJOUFH0.png">
                </div>
                <div class="text mx-1">
                  <h3 class="font-17 font-600 black mb-0">Rahil Kothari</h3>
                  <p class="font-13 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span></p>
                </div>
                <div class="dropdown d-flex justify-content-center align-items-center ms-auto" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fi fi-rr-menu-dots secondary font-27 lh-0"></i>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <h4 class="post_subtitle primary font-17 font-400 lh-21">Decide to want nothing to do with my
                owner today prance along on top of the garden fence, annoy the neighbor's dog and make it bark pee
                in the shoe. </h4>
              <div class="d-flex justify-content-center align-items-center mb-1">
                <img src="assets/images/temp_img/post.png">
              </div>
              <ul class="nav nav-pills social_icon d-flex align-items-center justify-content-around position-relative"
                id="pills-tab" role="tablist">
                <div class="d-flex align-items-center p-1 like">
                  <i class="social_text fi fi-rr-social-network lh-0"></i>
                  <h3 class="social_text font-13 font-500 mb-0 mx-0 ms-1">Like</h3>
                </div>
                <div class="d-flex align-items-center p-1 comment  comment_box2" role="presentation"
                  id="pills-Timeline-tab" data-bs-toggle="pill" data-bs-target="#pills-Timeline" type="button"
                  aria-controls="pills-Timeline" aria-selected="true">
                  <img src="assets/images/svg_img/Comment.svg">
                  <h3 class="gray font-13 font-500 mb-0 mx-0 ms-1">Submit Answer</h3>
                </div>
              </ul>
              <!-- comment tabs in timeline -->
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show comment_post2" id="pills-Timeline" role="tabpanel"
                  aria-labelledby="pills-Timeline-tab" tabindex="0">
                  <div class="comment_details">
                    <div class="forum_post d-flex justify-content-between align-items-center">
                      <img src="assets/images/temp_img/massage_icon.png">
                      <form class="form-inline text_input my-2 my-lg-0">
                        <input class="form_control font-14 font-400 mx-0" type="search"
                          placeholder="Write your answer...">
                      </form>
                      <i
                        class="send_option  fi fi-rr-paper-plane-top white d-flex align-items-center justify-content-center"></i>
                    </div>
                    <div class="comment_section">
                      <div class="d-flex align-items-center mb-1">
                        <div class="mx-1 ms-0">
                          <img src="assets/images/temp_img/commenticon.png">
                        </div>
                        <div class="text mx-1">
                          <h3 class="font-15 font-500 black mb-0">User Name</h3>
                          <p class="font-11 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span>
                          </p>
                        </div>
                       
                      </div>
                      <h3 class="font-15 font-400 text_small">Decide to want nothing to do with my owner today
                        prance along on top of the garden fence.</h3>
                    </div>
                    <div class="comment_section">
                      <div class="d-flex align-items-center mb-1">
                        <div class="mx-1 ms-0">
                          <img src="assets/images/temp_img/commenticon.png">
                        </div>
                        <div class="text mx-1">
                          <h3 class="font-15 font-500 black mb-0">User Name</h3>
                          <p class="font-11 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span>
                          </p>
                        </div>
                      
                      </div>
                      <h3 class="font-15 font-400 text_small">Decide to want nothing to do with my owner today
                        prance along on top of the garden fence.</h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
            <div class="post_details">
              <div class="post_discription d-flex align-items-center">
                <div class="">
                  <img src="assets/images/temp_img/unsplash_RGKdWJOUFH0.png">
                </div>
                <div class="text mx-1">
                  <h3 class="font-17 font-600 black mb-0">Rahil Kothari</h3>
                  <p class="font-13 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span></p>
                </div>
                <div class="dropdown d-flex justify-content-center align-items-center ms-auto" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fi fi-rr-menu-dots secondary font-27 lh-0"></i>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <h4 class="post_subtitle primary font-17 font-400 lh-21">Decide to want nothing to do with my
                owner today prance along on top of the garden fence, annoy the neighbor's dog and make it bark pee
                in the shoe. </h4>
              <div class="d-flex justify-content-center align-items-center mb-1">
                <img src="assets/images/temp_img/post.png">
              </div>
              <ul class="nav nav-pills social_icon d-flex align-items-center justify-content-around position-relative"
                id="pills-tab" role="tablist">
                <div class="d-flex align-items-center p-1 like">
                  <i class="social_text fi fi-rr-social-network lh-0"></i>
                  <h3 class="social_text font-13 font-500 mb-0 mx-0 ms-1">Like</h3>
                </div>
                <div class="d-flex align-items-center p-1 comment  comment_box3" role="presentation"
                  id="pills-Timeline-tab" data-bs-toggle="pill" data-bs-target="#pills-Timeline" type="button"
                  aria-controls="pills-Timeline" aria-selected="true">
                  <img src="assets/images/svg_img/Comment.svg">
                  <h3 class="gray font-13 font-500 mb-0 mx-0 ms-1">Submit Answer</h3>
                </div>
              </ul>
              <!-- comment tabs in timeline -->
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show comment_post3" id="pills-Timeline" role="tabpanel"
                  aria-labelledby="pills-Timeline-tab" tabindex="0">
                  <div class="comment_details">
                    <div class="forum_post d-flex justify-content-between align-items-center">
                      <img src="assets/images/temp_img/massage_icon.png">
                      <form class="form-inline text_input my-2 my-lg-0">
                        <input class="form_control font-14 font-400 mx-0" type="search"
                          placeholder="Write your answer...">
                      </form>
                      <i
                        class="send_option  fi fi-rr-paper-plane-top white d-flex align-items-center justify-content-center"></i>
                    </div>
                    <div class="comment_section">
                      <div class="d-flex align-items-center mb-1">
                        <div class="mx-1 ms-0">
                          <img src="assets/images/temp_img/commenticon.png">
                        </div>
                        <div class="text mx-1">
                          <h3 class="font-15 font-500 black mb-0">User Name</h3>
                          <p class="font-11 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span>
                          </p>
                        </div>
                       
                      </div>
                      <h3 class="font-15 font-400 text_small">Decide to want nothing to do with my owner today
                        prance along on top of the garden fence.</h3>
                    </div>
                    <div class="comment_section">
                      <div class="d-flex align-items-center mb-1">
                        <div class="mx-1 ms-0">
                          <img src="assets/images/temp_img/commenticon.png">
                        </div>
                        <div class="text mx-1">
                          <h3 class="font-15 font-500 black mb-0">User Name</h3>
                          <p class="font-11 font-400 light mb-0">20-04-2023 <span class="mx-0 ms-1">1 hr ago</span>
                          </p>
                        </div>
                       
                      </div>
                      <h3 class="font-15 font-400 text_small">Decide to want nothing to do with my owner today
                        prance along on top of the garden fence.</h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
        <a href="#updown_btn" class="scroll_btn d-flex justify-content-center align-items-center">
          <img src="assets/images/svg_img/uparrow.svg">
        </a>
      </div>
    </div>