<div id="main" class="main mycourse_page">
  <div class="profile d-flex mb-4">
    <h1 class="font-32 font-700 secondary mb-0">My Courses</h1>
    <app-profile-bar></app-profile-bar>
  </div>


  <!-- <h3 class="Enrolled font-21 font-600 secondary position-relative">Enrolled</h3> -->
  <div class="scroll_section">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="top-content mb-4 my_course" onclick="myfun1()">
          <div class="d-flex java">
            <img src="assets/images/temp_img/image 18.png" class="obj-fit-none">
            <div class="ms-2">
              <h2 class="font-27 font-600 text-white java mb-1">Advanced JAVA</h2>
              <h2 class="font-16 font-00 text-white java mb-1">Batch No- 5</h2>
              <h3 class="font-14 font-400 text-white">From - 1 Jan, 2023 To 28 Feb, 2023</h3>
            </div>
            <h2 class="ms-auto font-17 font-600 text-light">Fee Structure</h2>
          </div>
          <div class="number d-flex align-items-center  mb-1">
            <h4 class="font-17 font-400 text-white mt-1">My Progress</h4>
            <h6 class="mb-0 font-17 font-400 ms-auto pe-2 text-white">54%</h6>
          </div>
          <div class="progress exam_progress" role="progressbar" aria-label="Basic example" aria-valuenow="54"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width:54%"></div>
          </div>

          <div class="task_assignment fee_structure" id="fee-table" style="display: none;">
            <h3 class="my-2 font-17 font-500 light position-relative">Fee Structure</h3>
            <div class="table_container">
              <table class="table mb-0">
                <thead>
                  <tr class="table_heading">
                    <th scope="col" class="font-15 font-600 secondary">EMI.no</th>
                    <th scope="col" class="font-15 font-600 secondary">Due on</th>
                    <th scope="col" class="font-15 font-600 secondary">Amount</th>
                    <!-- <th scope="col"  class="font-19 font-600 secondary">Payment Method</th> -->
                    <th scope="col" class="font-15 font-600 secondary">Status</th>
                  </tr>
                </thead>
                <tbody class="bg-light">
                  <tr>
                    <td>1/6</td>
                    <td>1 Jan, 2023</td>
                    <td>10,000</td>
                    <td>Paid on 1 Jan, 2023</td>
                  </tr>
                  <tr>
                    <td>2/6</td>
                    <td>1 Jan, 2023</td>
                    <td>10,000</td>
                    <td>Over Due on 1 Apr, 2023</td>
                  </tr>
                  <tr>
                    <td>3/6</td>
                    <td>1 Jan, 2023</td>
                    <td>10,000</td>
                    <td>Due on 1 Jul, 2023</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>

      <div class="task_assignment">
        <div class="row">
          <div class="col-md-6">
            <h3 class="title font-21 font-600 secondary position-relative">Upcoming Batches </h3>
            <h3 class="title font-21 font-600 secondary position-relative"*ngIf="batches.length==0">NO COURSES FOUND !!! </h3>

            
            <div class="all_summary mb-2" *ngFor="let batch of batches">
              <div class="Batches d-flex align-items-center">
                <div class="">
                  <div class="d-flex java">
                    <img style="height:100px;width: 100px; border-radius: 50px;" class="imageSize"
                    [src]="imageUrl+batch.technologyStack?.imageName">
                    <div class="ms-2">
                      <h2 class="font-21 font-600 text-black java">{{batch.batchName}}</h2>
                     

                      <h2 class="font-16 font-00 text-black java">Duration 90 Days</h2>
                      <h3 class="font-14 font-400 text-black mb-0">{{batch.batchStartDate}} {{batch.batchEndDate}}</h3>
                    </div>
                  </div>
                </div>
                <button type="button" class="Enroll_btn font-14 font-600 text-white ms-auto">
                  Enquire Now
                </button>
              </div>
            </div>
           </div>

          <div class="col-md-6">
            <h3 class="title font-21 font-600 secondary position-relative">Other Courses</h3>
            <h3 class="font-21 font-600 secondary position-relative" *ngIf="courses.length == 0">
              NO COURSES FOUND !!!
            </h3>
            <div class="all_summary mb-2" *ngFor="let course of courses">
              <div class="Batches d-flex align-items-center">
                <div class="">
                  <div class="d-flex java">
                    <img style="height:100px;width: 100px; border-radius: 50px;" class="imageSize"
                      [src]="imageUrl+course.technologyStack?.imageName">
                    <div class="ms-2">
                      <h2 class="font-21 font-600 text-black java">{{course.courseName}}</h2>
                      <h2 class="font-16 font-00 text-black java">Duration {{course.duration}}</h2>
                      <h3 class="font-14 font-400 text-black mb-0">{{course.sortDescription}}</h3>
                    </div>
                  </div>

                </div>
                <button type="button" class="Enroll_btn font-14 font-600 text-white ms-auto">
                  Enquire Now
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <app-right-side-bar></app-right-side-bar>