
    <div id="main" class="main mycourse_page subject_page">
      <div class="profile mb-0 d-flex mb-4">
        <h1 class="font-27 font-700 secondary mb-0">{{subject.subjectName}}</h1>
       <app-profile-bar></app-profile-bar>
      </div>
  
      <!-- SUBJECT START -->
      <div class="dashboard_title">
        <nav aria-label="breadcrumb" class="font-17 font-600 light-black mb-0 lh-36">
          <ol class="breadcrumb mb-0 mb-3">
            <li class="breadcrumb-item"><a routerLink="/student" class="gray-light">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/student/study"class="gray-light">Subjects</a></li>
            <li class="breadcrumb-item  light-black" aria-current="page">{{subject.subjectName}}</li>
          </ol>
        </nav>
      </div>
      <!-- <div class="dashboard_title">
        <nav aria-label="breadcrumb" class="font-17 font-600 light-black mb-0 lh-36">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html" class="gray-light">Home</a></li>
            <li class="breadcrumb-item  light-black" aria-current="page">Subjects</li>
          </ol>
        </nav>
      </div> -->
      <div class="scroll_sec mt-0">
        <div class="row">
            <div class="col-md-6 " *ngFor="let obj of chapter"> 
                <a  (click)="pageRenderUsingRouterLink('/student/chapterDetails', obj.chapterId)" >
                  <div class="subject_card">
                    <div class="subject_card_top">
                      <div class="subject_name_card">
                        <img class="image-size" src="{{imageUrl+subject.technologyStack.imageName}}">
                        <div class="subject_name">
                          <h3 class="subject_heading txt-dark mb-0">{{obj.chapterName}}</h3>
                          <!-- <p class="chapter-cout mb-0">Basic Score-{{obj.chapterScore}} %</p> -->
                        </div>
                      </div>
                      <span class="right_arrow d-flex justify-content-center align-items-center ms-auto">
                        <img src="assets/images/svg_img/rightarrow.svg">
                      </span>
                    </div><!-- subject_card_top -->
                  </div> <!-- subject_card -->
                </a>
              </div>
        </div>
      </div>
      <app-right-side-bar></app-right-side-bar>
      <!-- SUBJECT END -->
  
     