.AssignmentCard {
    padding: 12px;
    background: linear-gradient(0deg, #49bfcf 0%, #49bfcf 100%),
      linear-gradient(
        79deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
    border-radius: 6px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    display:flex;
    cursor: pointer;
  }

  .Head {
    align-self: stretch;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  .TaskName {
    color: #161616;
    font-size: 17px;
    font-weight: 500;
  }
  .Toggle {
    width: 30px;
    height: 30px;
    padding: 10px;
    line-height: 1px;
    background: white;
    border-radius: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  .Vector20 {
    width: 13px;
    height: 6.5px;
    border: 1px #49bfcf solid;
  }
  .Bar {
    align-self: stretch;
    height: 20px;
    padding-bottom: 6px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: flex;
  }
  .Progress {
    align-self: stretch;
    justify-content: space-between;
    align-items: baseline;
    display: inline-flex;
  }
  .Deadline {
    color: white;
    font-size: 14px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
  }
  .Progress {
    color: white;
    font-size: 17px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
  }
  .ProgressBar {
    height: 6px;
    padding-right: 312.5px;
    background: #edf1fa;
    border-radius: 6px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }
  .ProgressW {
    width: 312.5px;
    height: 6px;
    background: #4977cf;
    border-radius: 6px;
  }
  .TaskCard {
    align-self: stretch;
    height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #edf9fb;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    display: flex;
    margin-top: 6px;
  }
  .Button {
    color: #49bfcf;
    font-size: 13px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
  }

  .assignment_image {
    transition: transform 0.3s;
    cursor: pointer;
    overflow: hidden;
  }
  
  .image-zoom {
    height: 160px;
    aspect-ratio: 5/2;
    // object-fit: contain;
  }
  
  .expanded {
    transform: scale(1); /* Adjust the scale factor as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    cursor: pointer;
  }
  