<div id="main" class="main main_news">
  <div class="profile d-flex mb-4">
    <div class="assign-detail-heading">
      <h1 class="font-27 font-700 secondary mb-0">Tasks</h1>
      <button *ngIf="isSubmittedTask" type="button" class="submit_buttons font-14 font-500 text-white d-inline-flex"
        data-bs-toggle="modal" data-bs-target="#submit_button"> Submit</button>
      <div class="font-27 font-700 secondary mb-4" *ngIf="taskAttachment">
        <form class="attachment_file1 d-inline-flex align-items-center position-relative ">
          <!-- Instead of an input element, use an anchor (a) tag -->

          <a href="{{ATTACHMENT_URL+task.taskAttachment}}" download="{{task.taskName}}"
            class="font-15 font-700 secondary text-white attachment_file_text">
            <i class="fi fi-rr-paperclip-vertical secondary add_more position-absolute light mx-2"></i>
            Attachments
            <span class="mx-0 ms-2 font-15 font-400 text-white">Download Attachment</span>
          </a>
        </form>
      </div>
    </div>
    <app-profile-bar></app-profile-bar>
    <!-- <iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe> -->
  </div>

  <div class="scroll_section">
    <div class="row mb-4">

      <div class="col-md-12" *ngFor="let obj of task.taskQuestion ;let i=index">
        <div class="question_ans">
          <h3 class="font-17 font-600">Question {{i+1}}</h3>
          <h4 class="font-17 font-400" [innerHTML]="obj.question"></h4>
        </div>
        <div class="row advertisement">

          <div class="col-md-3 col-sm-6 col-xs-12"
            *ngIf="obj.videoUrl!=null && obj.videoUrl!='null' && obj.videoUrl!='' && obj.videoUrl!=undefined">
            <h3 class="font-15 font-700  assignment_sub_heading">Video 1</h3>
            <div class="assinment_image video-img">
              <!-- <video src="{{obj.videoUrl}}" controls height="" width="270" type="video/mp4"></video> -->
                     
                        <div>
                          <iframe controls height="" width="270" [src]="obj.videoUrl | safe" frameborder="0"  allowfullscreen></iframe>
                        </div>
              
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12" *ngIf=" obj.questionImages.length!=0">
            <div *ngFor="let images of obj.questionImages; let i=index">
              <h3 class="font-15 font-700 assignment_sub_heading">Image {{i + 1}}</h3>
              <div class="assignment_image">
                <img [src]="imageUrl + images" class="img-fluid image-zoom" (click)="toggleImageSize($event)">
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
<app-right-side-bar></app-right-side-bar>
<!-- MIDDLE CONTENT END -->
<!-- Modal submit button start -->
<div class="modal fade" id="submit_button" tabindex="-1" aria-labelledby="submit_button" aria-hidden="true">
  <div class="modal-dialog position-relative leave_modal">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header apply_title">
          <h1 class="modal-title  font-21 font-600 secondary modal_line position-relative">Submit Assignment</h1>
          <button type="button" class="close_btn1" data-bs-dismiss="modal" aria-label="Close"
            id="close-task-submission-form">
            <i class="fi fi-rr-cross close_icon"></i>
          </button>

        </div>






        <!-- 
        <div class="form_input">
          <h5 class="sub-heading font-17 font-500 secondary mb-1">Discription</h5>
          <div class="">
            <textarea class="form-control text_area" id="exampleFormControlTextarea1" rows="3"
              placeholder="Input Text Here" [(ngModel)]="taskSubmittion.taskDescription"></textarea>
          </div>
        </div> -->

        <form [formGroup]="submissionForm"> <!-- Bind the form group -->
          <div class="form-group">
            <div class="form_input">
              <h5 class="sub-heading font-17 font-500 secondary mb-1">Discription</h5>
              <div class="">
                <textarea class="form-control text_area" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Input Text Here" [(ngModel)]="taskSubmittion.taskDescription"
                  formControlName="taskDescription" name="taskDescription"></textarea>
              </div>
              <div *ngIf=" isFieldInvalidForSubmissionForm('taskDescription')" class="text-danger">
                taskDescription is required.</div>
            </div>

          </div>
        </form>


        <!-- <h4 class="sub-heading font-17 font-500 secondary mb-1">Heading</h4>
        <form class="select_file d-flex align-items-center file position-relative">
          <input type="file" name="submittionFileName" value="file" class="d-none" id="file"
            (change)="setImage($event)">
          <label for="file" class="font-15 font-400 secondary w-75">Select A File</label>
          <button type="button" class="submit_btn0 ms-auto" onclick="document.getElementById('file').click()">
            <i class="fi fi-rr-upload mx-1 mb-0 lh-0"></i>Upload File
          </button>
        </form> -->



        <div class="form-group" *ngIf="task.attachmentStatus=='Required' ">
          <h4 class="sub-heading font-17 font-500 secondary mb-1">.pdf file only</h4>
          <form [formGroup]="submissionForm" class="select_file d-flex align-items-center file position-relative">
            <input type="file" name="file" id="file" accept=".pdf, application/pdf" class="d-none"
              formControlName="file" (change)="setImage($event)">
            <label for="file" class="font-15 font-400 secondary w-75">Select A File</label>
            <button type="button" class="submit_btn0 ms-auto" onclick="document.getElementById('file').click()">
              <i class="fi fi-rr-upload mx-1 mb-0 lh-0"></i>Upload File
            </button>
          </form>
          <div *ngIf=" isFieldInvalidForSubmissionForm('file')" class="text-danger">
            file is required.</div>
        </div>

        <div class="" *ngIf="task.attachmentStatus=='Optional'">
          <h4 class="sub-heading font-17 font-500 secondary mb-1">optional</h4>
          <h4 class="sub-heading font-17 font-500 secondary mb-1">.pdf file only</h4>
          <form class="select_file d-flex align-items-center file position-relative">
            <input type="file" name="file" id="file"accept="/*,.zip,.rar,.7zip,zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"class="d-none"
              (change)="setImage($event)">
            <label for="file" class="font-15 font-400 secondary w-75">Select A File</label>
            <button type="button" class="submit_btn0 ms-auto" onclick="document.getElementById('file').click()">
              <i class="fi fi-rr-upload mx-1 mb-0 lh-0"></i>Upload File
            </button>
          </form>
        </div>

        <div class="file_option">
          <div class=" d-flex file_name" *ngIf="task.attachmentStatus=='Required'">
            <i class="fi fi-rr-paperclip-vertical secondary add_more" (click)="deleteFile()"></i>
            <i class="fi fi-rr-trash secondary delete pointer" (click)="deleteFile()"></i>
            <h3 class="font-15 font-400 dark mx-1 mb-0" *ngIf="taskSubmittion.submittionFileName!=null">
              {{taskSubmittion.submittionFileName.name}}</h3>
          </div>

        </div>

        <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
          <button type="button" class="cancel_modal_btn">Save Draft</button>
          <button type="button" class="apply_modal_btn" (click)="submitTask()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>