<div id="main" class="main main_news">
    <div class="profile d-flex">
      <div class="assign-detail-heading">
          <h1 class="font-27 font-700 secondary mb-0">Tasks</h1>
          <button type="button" class="submit_buttons font-14 font-500 text-white d-inline-flex" data-bs-toggle="modal" data-bs-target="#submit_button">Submit</button>    
      </div>
      <app-profile-bar></app-profile-bar>
    </div>
  
  <div class="scroll_section">
      <div class="row mb-4">
          <div class="col-md-12">
              <div class="question_ans">
                  <h3 class="font-17 font-600">Question - 1</h3>
                  <h4 class="font-17 font-400">How would you reverse the order of elements in an array in Java without
                    using any built-in methods or additional data structures?</h4>
                </div>
                
                <div class="row advertisement">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3 class="font-15 font-700  assignment_sub_heading">Video 1</h3>
                   <div class="assinment_image video-img">
                     <video src="assets/images/temp_img/pexels-max-fischer-5198159-3840x2160-50fps.mp4" autoplay controls
                       height="" width="270"></video>
                   </div>
                  </div>
                 <div class="col-md-3 col-sm-6 col-xs-12">
                   <h3 class="font-15 font-700  assignment_sub_heading">Image 1</h3>
                   <div class="assinment_image">
                     <img src="assets/images/temp_img/modal.png" class="img-fluid">
                   </div>
                 </div>
               
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3 class="font-15 font-700  assignment_sub_heading">Image 2</h3>
                   <div class="assinment_image">
                     <img src="assets/images/temp_img/modal.png" class="img-fluid">
                   </div>
                  </div>
                 </div>
  
              <div class="assignment mb-0">
                <h3 class="font-17 font-700 list_bottom1">Hints:-</h3>
                <ul class="font-17 list_bottom mb-0">
                  <li>How would you reverse the order of elements in an array in Java without using any built-in methods
                    or additional data structures?</li>
                  <li>How would you reverse the order of elements in an array in Java without using any built-in methods
                    or additional data structures?</li>
                  <li>How would you reverse the order of elements in an array in Java without using any built-in methods
                    or additional data structures?</li>
                </ul>
              </div>
  
              <form class="attachment_file1 d-inline-flex align-items-center  position-relative">
                <input type="file" name="fileupload" value="fileupload" class="d-none" id="fileupload">
                <label for="fileupload" class="font-15 font-700 secondary text-white attachment_file_text">
                  <i class="fi fi-rr-paperclip-vertical secondary add_more position-absolute light mx-2"></i>
                  Attachments <span class="mx-0 ms-2 font-15 font-400 text-white">Assignment Files.zip</span></label>
              </form>
  
          </div>
      </div>
      
  </div>    
</div>
<app-right-side-bar></app-right-side-bar>
<!-- MIDDLE CONTENT END -->
<!-- Modal submit button start -->
<div class="modal fade" id="submit_button" tabindex="-1" aria-labelledby="submit_button" aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header apply_title">
            <h1 class="modal-title  font-21 font-600 secondary modal_line position-relative">Submit Assignment</h1>
            <button type="button" class="close_btn1" data-bs-dismiss="modal" aria-label="Close">
              <i class="fi fi-rr-cross close_icon"></i>
            </button>
          </div>
          <div class="form_input">
            <h5 class="sub-heading font-17 font-500 secondary mb-1">Discription</h5>
            <div class="">
              <textarea class="form-control text_area" id="exampleFormControlTextarea1" rows="3"
                placeholder="Input Text Here"></textarea>
            </div>
          </div>

          <h4 class="sub-heading font-17 font-500 secondary mb-1">Heading</h4>
          <form class="select_file d-flex align-items-center  file position-relative">
            <input type="file" name="fileupload" value="fileupload" class="d-none" id="fileupload">
            <label for="fileupload" class="font-15 font-400 secondary w-75">Select A File</label>
            <button type="button" class="submit_btn0 ms-auto">
              <i class="fi fi-rr-upload mx-1 mb-0 lh-0"></i><a type="btn" value=""
                class=" font-15 font-400 text-white">Upload File</a>
            </button>
          </form>

          <div class="file_option">
            <div class=" d-flex file_name">
              <i class="fi fi-rr-paperclip-vertical secondary add_more"></i>
              <i class="fi fi-rr-trash secondary delete"></i>
              <h3 class="font-15 font-400 dark mx-1 mb-0">File_name.pdf</h3>
            </div>

          </div>


          <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
            <button type="button" class="cancel_modal_btn">Save Draft</button>
            <button type="button" class="apply_modal_btn">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </div>