.main-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .card0,
  .right-task-area {
    width: 25%;
  }

  .calender-img {
    width: 50%;
  }
  .image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}