.main-inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .card0,
  .right-task-area {
    width: 25%;
  }

  .calender-img {
    width: 50%;
  }
  .image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


.table_scroll{
  overflow-y: scroll !important;
}
.table_scroll::-webkit-scrollbar{
  display: none;
}

.chartmargin {
  margin-top: 80px;
}
#chart {
  max-width: 380px;
  margin: 50px auto;
  padding: 0;
}


.Present {
  background: #1105ee;
  //width: 60%;
  height: 40px;
}

.Present:hover {
  background: #8581d4;
  //width: 60%;
  height: 40px;
}

.Absent {
  background-color: #e95b09;
  //width: 20%;
  height: 40px;
}

.Absent:hover {
  background-color: #d87567;
  //width: 20%;
  height: 40px;
}

.Leave {
  background: #fbff00;
  //width: 15%;
  height: 40px;
}

.Leave:hover {
  background: #e6e78a;
  //width: 15%;
  height: 40px;
}

// .table_heading {
//   position: sticky;
//   top: 0;
//   z-index: 1;
//   background-color: #EDF9FB; /* You can adjust this to match the background color of the table header */
// }

.pointer {cursor: pointer;}


.attendance-area, .assignment-area, .fees-area{
  min-height: 363px;
}