<div id="main" class="main mycourse_page">
    <div class="profile d-flex">
    <h1 class="font-27 font-700 secondary mb-0">Internships Description</h1>
    <div class="profile">
      <div class="d-flex align-items-center porfile_sec">
      <div class="">
        <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
      </div>
      <div class="text mx-3">
        <h3 class="font-17 font-600 text-black user-name">Rahil Kothari</h3>
        <p class="font-14 font-400  text-black mb-0">Ui/Ux Team Lead</p>
      </div>
    </div>
      <a href="#" class="ms-3 right_menu_toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path opacity="0.5" d="M18.7491 9V9.7041C18.7491 10.5491 18.9903 11.3752 19.4422 12.0782L20.5496 13.8012C21.5612 15.3749 20.789 17.5139 19.0296 18.0116C14.4273 19.3134 9.57274 19.3134 4.97036 18.0116C3.21105 17.5139 2.43882 15.3749 3.45036 13.8012L4.5578 12.0782C5.00972 11.3752 5.25087 10.5491 5.25087 9.7041V9C5.25087 5.13401 8.27256 2 12 2C15.7274 2 18.7491 5.13401 18.7491 9Z" fill="#49BFCF"/>
          <path d="M7.24316 18.5449C7.8941 20.5501 9.77767 21.9997 11.9998 21.9997C14.222 21.9997 16.1055 20.5501 16.7565 18.5449C13.611 19.1352 10.3886 19.1352 7.24316 18.5449Z" fill="#49BFCF"/>
        </svg>
      </a>
    </div>
    </div>

    
  <div class="scroll_section">
    <div class="row">
      <div class="col-md-12">
       <div class="all_summary1">
          <div class="d-flex align-items-center">
            <div class="">
              <div class="d-flex java">
              <img src="assets/images/temp_img/image 18.png">
                <div class="ms-2">
                  <h2 class="font-21 font-600 secondary job_title">Graphics Intern</h2>
                  <h2 class="font-17 font-400 secondary job_title">Company Name</h2>
                  <h3 class="font-17 font-400 secondary mb-0">Upto 2,40,000 PA</h3>
                </div> 
              </div>
            </div>
              <button type="button" class="apply_btn font-14 font-500 text-white ms-auto">
                  Apply
              </button>
          </div>
      </div>
      <div class="job_discription">
          <h3 class="font-17 font-700">Job Title</h3>
          <h3 class="font-17 font-400 mb-4">Graphic Designer</h3>
          <h3 class="font-17 font-700">Salary Range</h3>
          <h3 class="font-17 font-400 mb-4">1,80,000 to 2,40,000 P.A.</h3>
          <h3 class="font-17 font-700">Company Description</h3>
          <h3 class="font-17 font-400 mb-4">We are a dynamic and innovative company seeking a highly skilled Graphic Designer to join our creative team. Our company specializes 
            in [insert relevant industry or niche], and we pride ourselves on delivering exceptional design solutions to our clients. If you have
             a passion for creating visually appealing and impactful designs, we would love to hear from you.</h3>
          
          <h3 class="font-17 font-700">Job Description</h3>
          <h3 class="font-17 font-400 mb-4">As a Graphic Designer, you will play a crucial role in translating concepts and ideas into visually stunning designs. Your primary 
          responsibility will be to develop and execute creative designs for various marketing materials, digital assets, and branding initiatives.
           You will collaborate closely with our marketing team, clients, and other stakeholders to ensure that design objectives are met and that our
            brand identity is maintained consistently across different platforms.</h3>
          
           <h3 class="font-17 font-700">Responsibilities:</h3> 
          <h3 class="font-17 font-400 mb-4">
            <ul class="discription_list">
              <li>Create visually compelling designs for marketing campaigns, including but not limited to digital advertisements, social media graphics, 
                website elements, and email templates.</li>
                <li>Develop and design eye-catching branding materials, such as logos, business cards, brochures, and signage.</li>
                <li>Collaborate with the marketing team to understand project requirements and objectives, ensuring that design solutions align with the overall marketing strategy.</li>
                <li>Translate complex ideas and concepts into visually engaging infographics and illustrations.</li>
                <li>Maintain a high level of creativity while adhering to brand guidelines and ensuring consistency in design elements.</li>
                <li>Stay updated with industry trends and emerging design techniques to continuously improve design quality and effectiveness.</li>
                <li>Manage multiple projects simultaneously and meet deadlines without compromising on quality or attention to detail.</li>
                <li>Prepare design files for print and digital distribution, ensuring proper formatting, resolution, and color accuracy.</li>
                <li>Work closely with clients, internal teams, and external vendors to ensure effective communication and collaboration throughout the design process.</li>
                <li>Contribute to brainstorming sessions and provide valuable input in the ideation and conceptualization of design projects.</li>
            </ul>
          </h3> 
      </div>
  </div>
    </div>
  </div>
  <app-right-side-bar></app-right-side-bar>