<div id="main" class="main dashboard_page">
    <div class="profile d-flex mb-4">
      <h1 class="font-32 font-700 secondary mb-4">Dashboard</h1>
      <!-- <app-profile-bar></app-profile-bar> -->
    </div>
  
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="top-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="heading-1 font-600 secondary heading-2">Learn JAVA From Scratch</h2>
              <h3 class="font-25 font-400 secondary heading-3">New Batch Starting<br class="d-none d-md-block">
                From <span class="font-600">1st April</span></h3>
              <button type="button" class="btn-1 font-17 font-600">
                Enroll Now
                <i class="fi fi-rr-arrow-right mt-2 lh-0 ms-0"></i>
              </button>
            </div>
            <div class="col-md-6">
              <img src="assets/images/temp_img/Group 2071.png" class="boy-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>