.main-inner {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

// .card0,
// .right-task-area {
//   width: 25%;
// }


//   .calender-img {
//     width: 50%;
//   }
  .imagestudent {
    border-radius: 40px;
    height: 24px;
    width: 24px;
}

.pointer {cursor: pointer;}

  

.attendance-area, .assignment-area, .fees-area{
  min-height: 260px;
}
// #chart {
//   max-width: 650px;
//   margin: 35px auto;
// }

// // / Fees Chart Css /
// .left-color-border{
//   display: inline-block;
//     width: 5px;
//     height: 20px;
//     border-radius: 12px;
// }
.apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
  top: 47px !important;
  right: 0 !important;
}

.Present {
  background: #8079FF;
  //width: 60%;
  height: 40px;
}

.Present:hover {
  background: #1105ee;
  //width: 60%;
  height: 40px;
}

.Absent {
  background-color: #49CF9F;
  //width: 20%;
  height: 40px;
}

.Absent:hover {
  background-color: #00f7a0;
  //width: 20%;
  height: 40px;
}

.Leave {
  background: #F6C453;
  //width: 15%;
  height: 40px;
}

.Leave:hover {
  background: #e7a710;
  //width: 15%;
  height: 40px;
}

.pointer {cursor: pointer;}

.imagestudent {
  border-radius: 40px;
  height: 24px;
  width: 24px;
}

// .table_heading {
//   position: sticky;
//   top: 0;
//   z-index: 1;
//   background-color: #EDF9FB; /* You can adjust this to match the background color of the table header */
// }



.attendance-area, .assignment-area, .fees-area{
  min-height: 260px;
}


.tool_tip, .tool_tip_absent, .tool_tip_leave{
  position: relative;
  display: inline-block;
}
.tooltiptext, .tooltiptext_absent, .tooltiptext_leave{
  display: inline-flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    font-size: 13px;
}
.tip-box{
  display: block;
  width: 17px;
  height: 15px;
  border: 1px solid #fff;
  padding-left: 6px;
}
.tool_tip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tool_tip_absent .tooltiptext_absent, .tool_tip_leave .tooltiptext_leave{
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tool_tip .tooltiptext::after, .tool_tip_absent .tooltiptext_absent::after, .tool_tip_leave .tooltiptext_leave::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tool_tip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}
.tool_tip_absent:hover .tooltiptext_absent{
  visibility: visible;
  opacity: 1;
}
.tool_tip_leave:hover .tooltiptext_leave{
  visibility: visible;
  opacity: 1;
}

.tooltiptext_leave{
  right: 50% !important;
  margin-right: 0 !important;
  left: inherit !important;
}

.pending-value h2 span {
  background: #49CF9F;
}

.approve-value h2 span {
background: #F6C453;
}

.submitted-value h2 span {
  background: #8079FF;
}