<div id="main" class="main dashboard_page">
    <div class="profile d-flex mb-4">

        <div class="profile_top_heading d-flex gap_24">
            <h1 class="font-27 font-700 secondary mb-0">Tasks</h1>
            <button class="top_profile_sec_btn font-14 font-500" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">Create New</button>
        </div>

       <app-profile-bar></app-profile-bar>
    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_dashboard">

        <div class="row">
            <div class="col-md-6">
                <div class="assignment-stats">
                    <h3 class="admin-title font-17 font-600 secondary position-relative">Stats</h3>
                    <div class="assignment-stats-area">
                        <div class="assignment-chart">
                            <div class="Present tool_tip" [style.width]="totalSubmitted+'%'">
                              <span class="tooltiptext">
                                <span class="tip-box" style="background: #8079FF;"></span>Submited {{totalSubmitted}}%
                            </span>
                            </div>
                            <div class="Absent tool_tip_absent" [style.width]="reveiwed+'%'">
                              <span class="tooltiptext_absent">
                                <span class="tip-box" style="background: #49CF9F;"></span>Reviewed {{reveiwed}}%
                            </span>
                            </div>
                            <div class="Leave tool_tip_leave" [style.width]="unReveiwed+'%'">
                              <span class="tooltiptext_leave">
                                <span class="tip-box" style="background: #F6C453;"></span>Unreviewed {{unReveiwed}}%
                            </span>
                            </div>
                            <!-- <div class="our_due" [style.width]="presentWidth"></div> -->
                          </div>
                          <div class="chart-detail-bottom justify-content-center">
                            <div class="submitted-value">
                              <p>Submited</p>
                              <h2 class="font-14 font-600 text_dark"> <span class="purple-small-box"></span>{{totalSubmitted}}%</h2>
                            </div>
                            <div class="pending-value">
                              <p>Reviewed</p>
                              <h2 class="font-14 font-600 text_dark"> <span class="purple-small-box"></span>{{reveiwed}}%</h2>
                            </div>
                            <div class="approve-value">
                              <p>Unreviewed</p>
                              <h2 class="font-14 font-600 text_dark"> <span class="purple-small-box"></span>{{unReveiwed}}%</h2>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="attendance_dropdown d-flex justify-content-between align-items-center">
                    <h3 class="admin-title font-17 font-600 secondary position-relative">Active Tasks</h3>
                   <div class="right-side-dropdown-btn d-flex">
                    <div class="dropdown">
                        <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Course
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">January</a></li>
                          <li><a class="dropdown-item" href="#">February</a></li>
                          <li><a class="dropdown-item" href="#">March</a></li>
                        </ul>
                      </div>
                      <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Subject
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                          </ul>
                        </div>
                        <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                          </ul>
                        </div>
                   </div>
                  </div>
                <div class="table_container">
                    <table class="table mb-0 admin-table">
                        <thead style="background:#EDF9FB;">
                            <tr class="table_heading">
                                <th scope="col" class="font-15 font-600 secondary">Tasks</th>
                                <th scope="col" class="font-15 font-600 secondary">Status</th>
                                <th scope="col" class="font-15 font-600 secondary">Summited</th>
                                <th scope="col" class="font-15 font-600 secondary">Reviewed</th>
                                <th scope="col" class="font-15 font-600 secondary">Unreviewed</th>
                                <!-- <th scope="col" class="font-15 font-600 secondary">Over Due</th> -->
                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            <tr *ngFor="let obj of taskSubmissionStatus ;let i=index">
                                <td>
                                    <h5 class="font-15 font-500 mb-0">{{obj.taskTitle}}</h5>
                                </td>
                                <td class="txt_color_blue">Active</td>
                                <td class="txt_color_purple">{{obj.totalSubmitted}}</td>
                                <td class="txt_color_light_green">{{obj.reveiwed}}</td>
                                <td class="txt_color_yellow">{{obj.unReveiwed}}</td>
                                <!-- <td class="txt_color_orange">16</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="attendance_dropdown d-flex justify-content-between align-items-center">
                    <h3 class="admin-title font-17 font-600 secondary position-relative">Submissions (Recent)</h3>
                   <div class="right-side-dropdown-btn d-flex">
                    <div class="dropdown">
                        <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Course
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">January</a></li>
                          <li><a class="dropdown-item" href="#">February</a></li>
                          <li><a class="dropdown-item" href="#">March</a></li>
                          <li><a class="dropdown-item" href="#">April</a></li>
                          <li><a class="dropdown-item" href="#">May</a></li>
                          <li><a class="dropdown-item" href="#">June</a></li>
                          <li><a class="dropdown-item" href="#">July</a></li>
                          <li><a class="dropdown-item" href="#">August</a></li>
                          <li><a class="dropdown-item" href="#">September</a></li>
                          <li><a class="dropdown-item" href="#">October</a></li>
                          <li><a class="dropdown-item" href="#">November </a></li>
                          <li><a class="dropdown-item" href="#">December </a></li>
                        </ul>
                      </div>
                      <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Subject
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                            <li><a class="dropdown-item" href="#">April</a></li>
                            <li><a class="dropdown-item" href="#">May</a></li>
                            <li><a class="dropdown-item" href="#">June</a></li>
                            <li><a class="dropdown-item" href="#">July</a></li>
                            <li><a class="dropdown-item" href="#">August</a></li>
                            <li><a class="dropdown-item" href="#">September</a></li>
                            <li><a class="dropdown-item" href="#">October</a></li>
                            <li><a class="dropdown-item" href="#">November </a></li>
                            <li><a class="dropdown-item" href="#">December </a></li>
                          </ul>
                        </div>
                        <div class="dropdown">
                          <a class="attendance_dropdown1 dropdown-toggle font-15 font-500 dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">January</a></li>
                            <li><a class="dropdown-item" href="#">February</a></li>
                            <li><a class="dropdown-item" href="#">March</a></li>
                            <li><a class="dropdown-item" href="#">April</a></li>
                            <li><a class="dropdown-item" href="#">May</a></li>
                            <li><a class="dropdown-item" href="#">June</a></li>
                            <li><a class="dropdown-item" href="#">July</a></li>
                            <li><a class="dropdown-item" href="#">August</a></li>
                            <li><a class="dropdown-item" href="#">September</a></li>
                            <li><a class="dropdown-item" href="#">October</a></li>
                            <li><a class="dropdown-item" href="#">November </a></li>
                            <li><a class="dropdown-item" href="#">December </a></li>
                          </ul>
                        </div>
                   </div>
                  </div>
                <div class="table_container mt-4">
                    <table class="table mb-0">
                        <thead style="background:#EDF9FB;">
                            <tr class="table_heading">
                                <th scope="col" class="font-15 font-600 secondary">Student Name</th>
                                <th scope="col" class="font-15 font-600 secondary">Assignment</th>
                                <th scope="col" class="font-15 font-600 secondary">Time</th>
                                <th scope="col" class="font-15 font-600 secondary">Status</th>
                            </tr>
                        </thead>
                        <tbody class="bg-light">
                            <tr *ngFor="let obj of submitedTasksList">
                                <td class="d-flex align-items-center" style="gap:5px;" (click)="pageRanderWithObject(obj)">
                                    <img [src]="IMG_URL+obj.student.profilePic" alt="" class="img-fluid imagestudent">
                                    <h5 class="font-13 font-500 mb-0 pointer">{{obj.student.fullName}} <br>
                                        <p class="text_gray font-13 font-400 mb-0">{{obj.student.applyForCourse}}</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>{{obj.submissionDate|date:'short'}}</td>
                                <td  [ngClass]="{'active_txt_green':obj.status == 'Accepted','active_txt_orange':obj.status=='Rejected','active_txt_blue':(obj.status=='Unreviewed')||(obj.status=='Reviewing')}">{{obj.status}}</td>
                            </tr>
                            <!-- <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>

                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>

                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_blue">Unreviewed</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_orange">Reassigned</td>
                            </tr>
                            <tr>
                                <td class="d-flex align-items-center" style="gap:5px;">
                                    <img src="assets/images/temp_img/Ellipse 2325.png" alt="" class="img-fluid">
                                    <h5 class="font-13 font-500 mb-0">Wade Warren <br>
                                        <p class="text_gray font-13 font-400 mb-0">Core Java</p>
                                    </h5>
                                </td>
                                <td>Hello World! In Java</td>
                                <td>08:48 PM, 11/07/23</td>
                                <td class="active_txt_green">Accepted</td>
                            </tr> -->


                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>
<!--DASHBOARD END -->


<!-- Modal Create New Assignment start -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Task Details</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <div class="col-md-12 mb_18">
                            <label for="" class="mb_6 font-15 font-500 secondary">Task Name</label>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="taskName" class="form-control input_text" [(ngModel)]="task.taskName"
                                    placeholder="Task Name..">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="" class="mb_6 font-15 font-500 secondary">Course</label>
                            <select class="form-select" aria-label="Default select example" name="course"  (change)="getSubjects()" [(ngModel)]="task.course">
                                <option  [ngValue]="obj" *ngFor="let obj of courses">{{obj.courseName}}</option>
                              </select>
                        </div>
                        <div class="col-md-12">
                            <label for="" class="mb_6 font-15 font-500 secondary">Subject</label>
                            <select class="form-select" aria-label="Default select example" name="subject"  [(ngModel)]="task.subject">
                              <option [ngValue]="obj" *ngFor="let obj of subjects">{{obj.subjectName}}</option>
                            </select>
                          </div>
                          
                        <div class="col-md-12">
                            <label for="" class="mb_6 font-15 font-500 secondary">File Attachments in Submission</label>
                            <select class="form-select" aria-label="Default select example"  name="taskAttachment" [(ngModel)]="task.attachmentStatus">
                                <option value="Required">Required</option>
                                <option value="Optional">Optional</option>
                                <option value="Not Allowed">Not Allowed</option>
                              </select>
                        </div>
                       
                    </div><!-- row -->
                </form>

                <a  class="apply_modal_buttons d-flex justify-content-center align-items-center mt-2">
                    <button type="button" class="apply_modal_btn" (click)="submit()">Create</button>
                </a>

            </div>
        </div>
    </div>
</div>



