<div id="main" class="main job_alertpage">
  <div class="profile d-flex">
    <h1 class="font-27 font-700 secondary mb-0">Job Alerts</h1>
    <div class="profile">
      <div class="d-flex align-items-center porfile_sec">
        <div class="">
          <img src="assets/images/temp_img/Ellipse 1.png" class="round-img">
        </div>
        <div class="text mx-3">
          <h3 class="font-17 font-600 text-black user-name">Rahil Kothari</h3>
          <p class="font-14 font-400  text-black mb-0">Ui/Ux Team Lead</p>
        </div>
      </div>
      <a href="#" class="ms-3 right_menu_toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path opacity="0.5" d="M18.7491 9V9.7041C18.7491 10.5491 18.9903 11.3752 19.4422 12.0782L20.5496 13.8012C21.5612 15.3749 20.789 17.5139 19.0296 18.0116C14.4273 19.3134 9.57274 19.3134 4.97036 18.0116C3.21105 17.5139 2.43882 15.3749 3.45036 13.8012L4.5578 12.0782C5.00972 11.3752 5.25087 10.5491 5.25087 9.7041V9C5.25087 5.13401 8.27256 2 12 2C15.7274 2 18.7491 5.13401 18.7491 9Z" fill="#49BFCF"/>
          <path d="M7.24316 18.5449C7.8941 20.5501 9.77767 21.9997 11.9998 21.9997C14.222 21.9997 16.1055 20.5501 16.7565 18.5449C13.611 19.1352 10.3886 19.1352 7.24316 18.5449Z" fill="#49BFCF"/>
        </svg>
      </a>
    </div>
  </div>


  <div class="scroll_section">
    <!-- INTERBSHIP CARD START -->
    <h3 class="Enrolled font-21 font-600 secondary position-relative">Internships</h3>
    <div class="row">
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/internshipsdescription">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img src="assets/images/temp_img/image 18.png">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Graphics Intern</h3>
                <h4 class="font-14 font-400 sub_title1">Company Name</h4>
                <h4 class="font-14 font-400 mb-0">For 6 Months</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
              UI / UX Design ,
              UCD Process , Information Architech , Persona Creation,.....</h4>
          </div>
        </a>
      </div>

    </div>
    <!-- INTERNSHIP CARD END -->

    <!-- JOB CARD START -->
    <h3 class="Enrolled font-21 font-600 secondary position-relative">Jobs</h3>
    <div class="row">
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>
      <div class="col-md-3 bootstrap_cards">
        <a routerLink="/student/jobdescription">
        <div class="internship_container">
          <div class="container_top d-flex align-items-center">
            <img src="assets/images/temp_img/image 18.png">
            <div class="internship_title">
              <h3 class="font-17 font-500 title_1">Graphics Designer</h3>
              <h4 class="font-14 font-400 sub_title1">Company Name</h4>
              <h4 class="font-14 font-400 mb-0">Upto 2,40,000 PA</h4>
            </div>
          </div>
          <h4 class="Requirement_text font-13 font-400">Requirement Gathering , Wirefram Creation , Visual Design ,
            UI / UX Design ,
            UCD Process , Information Architech , Persona Creation,.....</h4>
        </div>
         </a>
      </div>

   
    </div>
    <!-- JOB CARD END -->
  </div>

</div>




<app-right-side-bar></app-right-side-bar>
