<div id="main" class="main job_alertpage">
  <div class="profile d-flex">
    <h1 class="font-27 font-700 secondary mb-0">Job Alerts</h1>
    <app-profile-bar></app-profile-bar>
  </div>


  <div class="scroll_section">
    <!-- INTERBSHIP CARD START -->
    <h3 class="Enrolled font-21 font-600 secondary position-relative">Internships</h3>
    <div class="row">
      <div class="col-md-3 bootstrap_cards" *ngFor="let obj of internshipJobs">
        <a routerLink="/student/internshipsdescription/{{obj.jobId}}">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img style="height:100px;width: 100px; border-radius: 50px;"
                [src]="imageUrl+obj.technologyStack.imageName">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Job Title : {{obj.jobTitle}}</h3>
                <h4 class="font-14 font-400 sub_title1">CompanyName : {{obj.companyName}}</h4>
                <h4 class="font-14 font-400 mb-0">Job Package up to :{{obj.jobPackage}} LPA</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Job jobDescription : {{obj.jobDescription}}</h4>
          </div>
        </a>
      </div>

    </div>
    <!-- INTERNSHIP CARD END -->

    <!-- JOB CARD START -->
    <h3 class="Enrolled font-21 font-600 secondary position-relative">Jobs</h3>
    <div class="row">
      <div class="col-md-3 bootstrap_cards" *ngFor="let obj of jobs">
        <a routerLink="/student/jobdescription/{{obj.jobId}}">
          <div class="internship_container">
            <div class="container_top d-flex align-items-center">
              <img style="height:100px;width: 100px; border-radius: 50px;"
                [src]="imageUrl+obj.technologyStack.imageName">
              <div class="internship_title">
                <h3 class="font-17 font-500 title_1">Job Title : {{obj.jobTitle}}</h3>
                <h4 class="font-14 font-400 sub_title1">CompanyName : {{obj.companyName}}</h4>
                <h4 class="font-14 font-400 mb-0">Job Package up to :{{obj.jobPackage}} LPA</h4>
              </div>
            </div>
            <h4 class="Requirement_text font-13 font-400">Job jobDescription : {{obj.jobDescription}}</h4>
          </div>
        </a>
      </div>

    </div>

    <!-- JOB CARD END -->
  </div>

  <app-right-side-bar></app-right-side-bar>
</div>