<div id="main" class="main dashboard_page">
    <div class="profile d-flex mb-4">

        <div class="profile_top_heading d-flex gap_24">
            <h1 class="font-27 font-700 secondary mb-0">Core Java</h1>
            <button class="top_profile_sec_btn font-14 font-500 lh-1" data-bs-toggle="modal"
                data-bs-target="#subject-testques-modal" (click)="reload()">Add Question</button>
        </div>

        <app-profile-bar></app-profile-bar>

    </div>

    <!-- DASHBOARD START -->

    <div class="scroll_sec mt-0">
        <div class="d-flex align-items-center justify-content-between">
            <h3 class="admin-title font-17 font-600 secondary position-relative">Chapter Test</h3>
            <a routerLink="/admin/subjectContent/{{id}}" type="button"
                class="back_button font-15 font-500 d-flex justify-content-center align-items-center lh-0"><i
                    class="fi fi-rr-arrow-left lh-0"></i>Back</a>
        </div>
        <div class="row mt-3">
            <div class="hh">
                <div class="col-md-12" *ngFor="let obj of questions let a =index">
                    <div class="top-test-question">
                        <h2>Question {{a+1}}</h2>
                        <div class="test-que-edit-del">
                            <span class="d-flex align-items-center gap_5 font-17 font-500 secondary"
                                data-bs-toggle="modal" data-bs-target="#subject-edit_testques-modal" (click)="getQuestionById(obj.questionId)"><i
                                    class="fi fi-rr-file-edit line-height-0" ></i> Edit</span>
                            <span class="d-flex align-items-center gap_5 font-17 font-500 delete-icon-color"
                                data-bs-toggle="modal" data-bs-target="#delete-modal"
                                (click)="questionId = obj?.questionId ?? 0"><i class="fi fi-rr-trash line-height-0"
                                    data-bs-dismiss="modal" aria-label="Close"></i> Delete</span>
                        </div>
                    </div>

                    <div class="subject-test-question">
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li [innerHTML]="obj.questionContent">{{obj.questionContent}}
                            </li>
                        </ul>
                    </div>
                    <div class="subject-test-ques-ans " >
                        <img [src]="imageUrl+obj.questionImage" alr="" class="profile_image" id="output" style="width: 80% ;height: 10%">
                    </div>
                    <div class="subject-test-ques-ans" [ngClass]="obj.correctOption==obj.option1?'alert alert-success':''">
                        <p>A. {{obj.option1}}</p>
                    </div>
                    <div class="subject-test-ques-ans" [ngClass]="obj.correctOption==obj.option2?'alert alert-success':''">
                        <p>A. {{obj.option2}}</p>
                    </div>
                    <div class="subject-test-ques-ans" [ngClass]="obj.correctOption==obj.option3?'alert alert-success':''">
                        <p>A. {{obj.option3}}</p>
                    </div>
                    <div class="subject-test-ques-ans" [ngClass]="obj.correctOption==obj.option4?'alert alert-success':''">
                        <p>A. {{obj.option4}}</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- DASHBOARD END -->

    <!-- RIGHT SIDE START-->
    <app-right-side-bar></app-right-side-bar>
    <!-- RIGHT SIDE END -->


    <!-- MIDDLE CONTENT END -->


</div>
<!--DASHBOARD END -->

<!-- Modal Delete Modal Start -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close" style="top: -23%;" (click)="reload()">
                    <i class="fi fi-rr-cross close_icon"></i>
                </button>

                <p class="secondary font-21 font-500 text-center">Are You Sure You Want To Delete This Question?
                </p>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <a routerLink="/admin/chapterquiz/{{id}}">
                        <button type="button" class="cancel_modal_btn font-15 font-500 delete-icon-color"
                            data-bs-dismiss="modal" aria-label="Close" (click)="deleteQuestion()">Yes,
                            delete</button>
                    </a>
                    <a routerLink="/admin/chapterquiz">
                        <button type="button" class="apply_modal_btn font-15 font-500">No, Do not
                            delete</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Delete Modal End -->
<!-- Modal Admin Subject Test Add Question Modal Start -->
<div class="modal fade" id="subject-testques-modal" tabindex="-1" aria-labelledby="subject-testques-modal"
    aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Add Question</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close" (click)="reload()">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <div class="col-md-12 mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Quiz Question</h4>
                            <ckeditor [editor]="Editor" name ="questionContent" [(ngModel)]="question.questionContent"></ckeditor>
                        </div>

                        <div class="col-md-12 mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Image </h4>
                            <div class="input_icon position-relative">
                                <input type="file"   (change)="handleImageInput($event)"   value="image" >
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Option-1</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option1" class="form-control input_text" placeholder="" [(ngModel)]="question.option1">
                            </div>
                        </div>
                        
                        <div class="col-md-12 mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Option-2</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option2" class="form-control input_text" placeholder="" [(ngModel)]="question.option2">
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Option-3</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option3" class="form-control input_text" placeholder="" [(ngModel)]="question.option3">
                            </div>
                        </div>
                        <div class="col-md-12  mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Option-4</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option4" class="form-control input_text" placeholder=""[(ngModel)]="question.option4">
                            </div>
                        </div>
                        <div class="col-md-12  mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Correct Option </h4>
                            <select class="form-select" aria-label="Default select example" id="correctOption" name="correctOption" [(ngModel)]="question.correctOption" >
                                <option [value]="question.option1" >{{question.option1}}</option>
                                <option [value]="question.option2" >{{question.option2}}</option>
                                <option [value]="question.option3" >{{question.option3}}</option>
                                <option [value]="question.option4" >{{question.option4}}</option>
                              </select>
                        </div>
                        <h6 *ngIf="message!=null">{{message}}</h6>
                    </div><!-- row -->
                </form>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                        aria-label="Close" (click)="cancel()" >Cancel</button>
                    <a >
                        <button type="button" class="apply_modal_btn font-15 font-500" (click)="addQuestion()">Save Question</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Admin Subject Test Add Question Modal End -->

<!-- Modal Admin Subject Test Edit Question Modal Start -->
<div class="modal fade" id="subject-edit_testques-modal" tabindex="-1" aria-labelledby="subject-edit_testques-modal"
    aria-hidden="true">
    <div class="modal-dialog position-relative leave_modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header apply_title">
                    <h1 class="modal-title fs-5 font-21 font-600 secondary modal_line position-relative"
                        id="exampleModalLabel1">Edit Question</h1>
                    <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close" (click)="reload()">
                        <i class="fi fi-rr-cross close_icon"></i>
                    </button>
                </div>

                <form action="">
                    <div class="row">
                        <div class="col-md-12 mb_18" >
                            <h4 class="sub-heading font-17 font-500 text_gray">Question Content</h4>
                            <ckeditor [editor]="Editor"  name="questionContent" [(ngModel)]="question.questionContent" ></ckeditor>
                        </div>
                        <div class="col-md-12 mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Image </h4>
                            <div class="input_icon position-relative">
                                <input type="file"  (change)="handleImageInput($event)" [value]="imageUrl+question.questionImage" >
                            </div>
                        </div>
                        <div class="col-md-12 mb_18">
                            <h4 class="sub-heading font-17 font-500 text_gray">Option-1</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option1" class="form-control input_text" placeholder="" [(ngModel)]="question.option1">
                            </div>
                        </div>
                            <div class="col-md-12 mb_18">
                                <h4 class="sub-heading font-17 font-500 text_gray">Option-2</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option2" class="form-control input_text" placeholder=""  [(ngModel)]="question.option2">
                            </div>
                            </div>
                            <div class="col-md-12 mb_18">
                                <h4 class="sub-heading font-17 font-500 text_gray">Option-3</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option3" class="form-control input_text" placeholder="" [(ngModel)]="question.option3">
                            </div>
                            </div>
                            <div class="col-md-12 mb_18"> <h4 class="sub-heading font-17 font-500 text_gray">Option-4</h4>
                            <div class="input_icon position-relative">
                                <input type="text" id="" name="option4" class="form-control input_text" placeholder=""  [(ngModel)]="question.option4">
                            </div>
                            </div>
                            <div class="col-md-12 mb_18">
                                <h4 class="sub-heading font-17 font-500 text_gray">Correct Option </h4>
                            <div class="input_icon position-relative ">
                                <!-- <input type="text" id="" name="correctOption" class="form-control input_text" placeholder=""  [(ngModel)]="question.correctOption"> -->
                                <select class="form-select" aria-label="Default select example" id="correctOption" name="correctOption" [(ngModel)]="question.correctOption" >
                                    <option [value]="question.option1" >{{question.option1}}</option>
                                    <option [value]="question.option2" >{{question.option2}}</option>
                                    <option [value]="question.option3" >{{question.option3}}</option>
                                    <option [value]="question.option4" >{{question.option4}}</option>
                                  </select>
                            </div>
                        </div>
                        <h6 *ngIf="message!=null">{{message}}</h6>
                    </div><!-- row -->
                </form>
                <div class="apply_modal_buttons d-flex justify-content-between align-items-center">
                    <button type="button" class="cancel_modal_btn font-15 font-500" data-bs-dismiss="modal"
                        aria-label="Close" (click)="cancel()">Cancel</button>
                    <a  >
                        <button type="button" class="apply_modal_btn font-15 font-500" (click)="updateQuestion()" >Save Question</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Admin Subject Test Edit Question Modal End -->