

.chartmargin {
    margin-top: 80px;
}

.textcolor{
    color: aliceblue;

}
.leaves{
    font-family: 'Nunito Sans 10pt' !important;
    padding:6px 10px;
    color: aliceblue;
  }
  #chart {
    max-width: 380px;
    margin: 50px auto;
    padding: 0;
  }
