.punch_btn {
    background-color: #49bfcf;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    margin-left: 12px;
    min-height: 400px;
    padding: 20px;
  }
  .timestamps {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    width: 100%;
  }
  .timestamicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
  }
  .scroller-bar{
    overflow:scroll; 
    overflow-x:hidden; 
    height: 500px;
}
.scroller-bar::-webkit-scrollbar {
    display: none;
  }

    // pagination css
    .page-link:focus {
      color: #fff !important;
      background-color: #49BFCF !important;
      outline: 0;
      box-shadow: none !important;
      border-radius: 6px;
    
    }
    
    .pagination {
      align-items: center;
      --bs-pagination-border-color: none;
      --bs-pagination-bg: #fbefe9;
      --bs-pagination-border-radius: 6px !important;
    }
    
    .page-link {
      color: #49BFCF !important;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 17px;
    }
    
    .table-pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px;
    }
    
    .pagination {
      align-items: center;
      --bs-pagination-border-color: none !important;
      --bs-pagination-bg: #e6ecfd !important;
      --bs-pagination-border-radius: 6px !important;
    }
    
    ul li a {
      padding: 13px 15px 13px 20px;
    }
    
    .page-link:hover {
      z-index: 2;
      color: var(--bs-pagination-hover-color);
      background-color: var(--bs-pagination-hover-bg);
      border-color: var(--bs-pagination-hover-border-color);
    }
      
    .inactiveLink {
      pointer-events: none;
      cursor: default;
    }
    .active{
      background-color: #49BFCF ;
      color: white !important;
      border-radius: 9px;
    }